
@include google-font('Noto Sans TC');
// @include google-font('Noto Serif TC');
$fontsize: (
    "h1": 54px,
    "h2": 28px,
    "h3": 24px,
    "h4": 20px,
    "p": 18px,
    "p1": 14px
);

$lineheight: (
    "h1": 2,
    "h2": 2,
    "h3": 2,
    "p": 2.3
);

html,
body {
    // font-family: Noto Serif TC;
    font-family: Noto Sans TC;
}

@each $k, $v in $fontsize {
    #{$k} {
        font-size: $v;
    }
}

@each $k, $v in $lineheight {
    #{$k} {
        line-height: $v;
    }
}

