<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tid102/g1/front
    RewriteRule ^tid102/g1/front/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /tid102/g1/front/index.html [L]
</IfModule>