.main-announcement {
    width: 100%;
    height: calc(100vh - 70px - 73.58px);
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper-announcement {
        width: 80%;
        margin: 0 auto;

        @include rwd(1440px) {
            width: 90%;
        }

        @include rwd(1100px) {
            width: 100%;
        }

        .bread-announcement {
            margin-bottom: 16px;

            @include rwd(1440px) {
                margin-bottom: 20px;
            }

            @include rwd(1100px) {
                margin-bottom: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .bread-announcement-breadcrumb {

                ul {
                    display: flex;
                    text-decoration: none;
                    width: 40%;
                    letter-spacing: 4px;

                    @include rwd(1440px) {
                        width: 60%;
                    }

                    @include rwd(1100px) {
                        width: 100%;
                    }

                    @include rwd(500px) {
                        display: none;
                    }

                    @include phone {
                        display: none;
                    }

                    li {
                        color: map-get($colors, white);
                    }

                    a {
                        color: map-get($colors, white);
                    }
                }
            }
        }

        .content-announcement {
            display: flex;
            justify-content: center;
            width: 100%;

            @include rwd(1100px) {
                flex-direction: column;
                align-items: center;
            }

            .content-announcement-img {
                margin-right: 49px;

                @include rwd(1100px) {
                    margin-right: 0px;
                }

                img {
                    width: 500px;
                    height: 500px;

                    @include rwd(1440px) {
                        width: 400px;
                        height: 400px;
                    }

                    @include rwd(1100px) {
                        width: 350px;
                        height: 350px;
                    }

                    @include pad {
                        width: 250px;
                        height: 250px;
                    }

                    @include phone {
                        width: 200px;
                        height: 200px;
                    }

                    @include rwd(380px) {
                        width: 180px;
                        height: 180px;
                    }

                }
            }

            .content-announcement-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 24px;

                @include rwd(1100px) {
                    width: 70%;
                }

                @include pad {
                    width: 80%;
                }

                @include phone {
                    width: 90%;
                    margin-top: 20px;
                }

                @include rwd(380px) {
                    margin-top: 8px;
                }

                h1 {
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 1.5;
                    margin-bottom: 24px;

                    @include rwd(1100px) {
                        font-size: 24px;
                        line-height: 1;
                    }

                    @include pad {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }

                    @include phone {
                        margin-bottom: 12px;
                    }

                    @include rwd(375px) {
                        margin-bottom: 8px;
                    }
                }

                h2 {
                    font-size: 20px;
                    font-weight: 500;

                    @include rwd(1100px) {
                        display: none;
                    }
                }

                p {
                    line-height: 1.5;
                    margin-bottom: 18px;

                    @include rwd(1100px) {
                        font-size: 18px;
                        margin-bottom: 12px;
                    }

                    @include pad {
                        font-size: 16px;
                        line-height: 1.3;
                        margin-bottom: 8px;
                    }

                    @include phone {
                        font-size: 14px;
                        line-height: 1.1;
                        margin-bottom: 12px;
                    }

                    @include rwd(380px) {
                        margin-bottom: 8px;
                    }

                }

                .NewsBack {
                    @include rwd(1100px) {
                        width: 120px;
                        height: 32px;
                        font-size: 18px;
                        padding: 0;
                    }

                    @include phone {
                        width: 100px;
                        height: 28px;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}