.backstage_body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.backstage_header {
    // background-color: map-get($colors, darkblue );
    background-color: map-get($colors, darkblue );
    margin-bottom: 0;

    h2{
        color: map-get($colors, gold );
    }
    h2:hover{
        font-weight: bold;
    }
}

.backstage_topic{
    margin-left: 40px;
    // 水平高度在header中間
    line-height: 70px;
}

.backstage_main{
    background-color: #fff;
    width: 100%;
    min-height: calc(100vh - 145px);
    flex-grow: 1;
}

.backstage_wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    // border: 1px solid map-get($colors, darkblue );
}

.backstage_footer{
    background-color: map-get($colors, darkblue );
    margin-top: 0;
}

.backstage_selection{
    // background-color: green;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.backstage_breadcrumb {
    // background-color: aqua;
    font-size: 16px;
    padding-top: 20px;
    
    ul{
        display: flex;
        flex-direction: row;
    }
    li{
        color: map-get( $colors, lightblue );
        margin-right: 5px;
        a{
            text-decoration: none;
            color: map-get( $colors, lightblue );
        }
        a:hover{
            font-weight: bold;
        }
    }
    
}

.backstage_form{

    // background-color: blue;
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;

    input{
        font-size: 16px;
        padding-left: 4px;
        line-height: 1.6;
        border-radius: 4px;
        width: 200px;
        margin-right: 35px;
        border: 1px solid map-get($colors, lightblue );
    }

    input:focus{
        outline: 1px solid map-get($colors, lightblue );
        box-shadow: 0px 0px 1.2px 0px inset map-get($colors, lightblue );
    }

    .backstage_dropdown{
        font-size: 16px;
        padding-left: 4px;
        height: 30.8px;
        border-radius: 4px;
        width: 207px;
        margin-right: 35px;
        border: 1px solid map-get($colors, lightblue );
        color: map-get($colors, black );

        option{
            border-radius: 0;
        }
    }

    .backstage_dropdown:hover{
        outline: 1px solid map-get($colors, lightblue );
    }

    .backstage_dropdown:focus{
        box-shadow: 0px 0px 1.2px 0px inset map-get($colors, lightblue );
    }
}

.backstage_panel{
    // background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    width: calc(50% + 40px);
    align-self: flex-end;

    display: flex;
    justify-content: space-between;
}

.backstage_tablezone{
    // background-color: dimgray;
    margin-top: 20px;
    height: calc(100% - 250px);
    padding-bottom: 12px;
}

.backstage_button{
    padding: 0;
    height: 30.8px;
    position: static;
    margin: 0;
    font-size: 16px;
    width: 80px;
    background-color: map-get($colors, darkblue );
    color: map-get($colors, yellow );
  
    &:active{
      background-color: map-get( $colors, lightyellow );
    }


  }

.backstage_button:hover{
    background-color: map-get($colors, yellow );
    color: map-get($colors, darkblue );
}

.backstage_table{
    width: 100%;
    border: 0px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;

        th{
            background-color: map-get($colors, lightyellow );
            line-height: 2.3;
            border: 0;
            border-bottom: 1px solid map-get($colors, yellow );
        }

        td{
            line-height: 3;
            border: 0;
            border-bottom: 1px solid map-get($colors, yellow );

            button{
                background-color: map-get($colors, yellow );
                border: 0px;
                border-radius: 4px;
                font-weight: bold;
    
                &:hover{
                    background-color: map-get($colors, darkblue );
                    color: map-get($colors, yellow );
                }
    
                &:active{
                    color: map-get($colors, white );
                }
            }

        }
        .backstage_table_button{
            text-decoration: underline;
        }
        & .backstage_table_button:active{
            color: map-get( $colors, gold );
        }
        & .backstage_table_button:hover{
            font-weight: bold;
        }
}

.backstage_tablehead{
    background-color: map-get($colors, lightyellow );
    color: map-get($colors, lightblue );

    th{
        font-weight: bold;
    }
}

.backstage_tablebody{
    background-color: map-get($colors, white );
    color: map-get($colors, black );

    // 會員狀態為停權、最新消息為隱藏時換樣式
    button.banned{
        background-color: gray;
        color: map-get($colors , white );
    }

    tr{
        &:hover{
            background-color: map-get($colors, lightyellow );
        }

        &.backstage_tfoot:hover{
            background-color: map-get($colors, white );
        }
    }
}

.backstage_tfoot{
    background-color: map-get($colors, white );

        td{
            // border-top: 2px solid map-get($colors, yellow );
            border-top: 2px solid map-get($colors, lightyellow );
            border-bottom: 0px;
        }
}

.backstage_pagination{
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;

    & p{
        font-size: 12px;
        padding-right: 16px;
    }
}

.backstage_paginator{
    // background-color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-left: 540px;
    border-radius: 5rem;
    justify-content: space-between;
    padding: 5px;

    & button.paginator_button{
        background: none;
        border: none;
        font-size: 18px;
        line-height: 30px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }
    
    & button:hover{
        font-weight: bold;
        background-color: #343b4d;
        color: map-get($colors, gold );
    }

    & button:active{
        color: map-get($colors, white );
    }
}

.backstage_page_input{
    font-size: 16px;
    width: 30px;
    margin:0 8px;
    border: 0;
    text-align: center;
    cursor: pointer
}

.backstage_page_input:focus{
    outline: 0.3px solid map-get($colors, lightblue );
    border-radius: 4px;
}
