.bindex_wrapper{
    display: flex;
    height: calc(100vh - 145px);
}

.backstage_dashboard{
    width: 100%;
    height: calc(100vh - 145px);
    align-self: center;
    // background-color: black;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.backstage_daily{
    display: flex;
    width: 100%;
    height: 50%;
}

.backstage_calendar{
    background-color: aqua;
    width: 40%;
    height: 100%;
}

.backstage_booking{
    // background-color: blue;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard_table{

    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 0;
    

    .column-header{
        width: 100px;
    }

    th{
        background-color: map-get($colors, lightyellow );
        color: map-get($colors, lightblue );
        font-weight: bold;
        vertical-align: middle;
    }

    td{
        background-color: map-get( $colors , white );
        color: map-get($colors, black );
        vertical-align: middle;
    }
}

.backstage_chart{
    display: flex;
    width: 100%;
    height: 50%;
}

.theme_income{
    background-color: yellow;
    width: 70%;
    height: 100%;

}

.store_income{
    background-color: orange;
    width: 30%;
    height: 100%;
}


