.bindex_wrapper{
    display: flex;
    min-height: calc(100vh - 70px);
    background-color: map-get($colors, lightgray );
}

.backstage_dashboard{
    width: 100%;
    height: 100%;
    padding: auto;
    align-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.backstage_daily{
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc(50% - 8px);
    padding-top: 8px;
}

.backstage_calendar{
    // background-color: aqua;
    width: calc(40% - 2PX);
    height: 100%;
    min-height: 293.66px;
    display: flex;
    align-items: center;
    justify-content: center;

    .vc-day-content{
        font-size: 2vh;
        outline: none;

        &:focus{
            outline: none;
        }
    }

    .vc-pane-container{
        height: 100%;
        max-height: 375px;
    }

    .vc-header .vc-title{
        font-size: 2.67vh;
    }

    .vc-weekday{
        font-size: 2.22vh;
    }

    .vc-header{
        height: 10%;
    }

    .vc-day {
        margin-bottom: 6px;
    }
}

.backstage_booking{
    // background-color: blue;
    width: calc(60% - 2PX);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a{
        text-decoration: underline;
        font-weight: bold;
        color: map-get( $colors, darkblue );
    }

    a:hover{
        color: map-get($colors, underyellow );
    }

    a:active{
        color: map-get($colors, black );
    }
}

.dashboard_table{

    width: calc(100% - 4px);
    height: 100%;
    min-height: 293.66px;
    border-radius: 4px;
    border: 3px solid #EFEFEF;

    & thead th{
        background-color: #f8f8f8;
    }

    .column-header{
        width: 100px;
    }

    th{
        background-color: #f8f8f8;
        color: #324872;
        font-weight: bold;
        vertical-align: middle;
        border: 1px solid #EFEFEF;
    }

    td{
        background-color: map-get($colors, #ffffff );
        vertical-align: middle;
        border: 1px solid #EFEFEF;
        line-height: 2;

        a{
            color: map-get($colors, lightblue );
        }
    }
}

.backstage_chart{
    // background-color: blue;
    display: flex;
    width: 100%;
    height: calc(50% - 8px);
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 8px;
    
    @include rwd(1400px){
        padding-top: 28px;
    }
}

.theme_income{
    background-color: map-get($colors, white );
    width: calc(70% - 8px);
    height: 100%;
    border: 3px solid #EFEFEF;

    & h5{
        color: map-get($colors, darkblue );
        padding: 12px 0 12px 20px;
    }
    
    & .bar{
        height: 85%;
        width: 95%;
        margin: 0 auto;
    }
}

.store_income{
    background-color: map-get($colors, white );
    width: calc(30% - 8px);
    height: 100%;
    border: 3px solid #EFEFEF;

    & h5{
        color: map-get($colors, darkblue );
        padding: 12px 0 12px 20px;
    }

    & .pie{
        height: 90%;
        width: 95%;
        margin: 0 auto;
    }
}


