.bindex_wrapper{
    display: flex;
    height: calc(100vh - 145px);
}

.backstage_dashboard{
    width: 100%;
    height: calc(100vh - 145px);
    align-self: center;
    // background-color: black;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.backstage_daily{
    display: flex;
    width: 100%;
    height: calc(50% - 8px);
    justify-content: center;
    margin-top: 4px;
}

.backstage_calendar{
    // background-color: aqua;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .vc-bordered{
        border-color: map-get($colors, darkblue );
    }

    .vc-light{
        background-color: map-get($colors, darkblue );
    }

    .vc-day-content{
        font-size: 2vh;
    }

    .vc-pane-container{
        height: 100%;
        max-height: 375px;
    }

    .vc-header .vc-title{
        font-size: 2.67vh;
    }

    .vc-weekday{
        font-size: 2.22vh;
    }

    .vc-header{
        height: 10%;
    }

    .vc-day {
        margin-bottom: 6px;
    }
}

.backstage_booking{
    // background-color: blue;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        text-decoration: underline;
        font-weight: bold;
        color: map-get( $colors, darkblue );
    }

    a:hover{
        color: #4f71a8;
    }
}

.dashboard_table{

    width: calc(100% - 4px);
    height: 100%;
    border-radius: 4px;
    border: 3px solid #293651;

    .column-header{
        width: 100px;
    }

    th{
        background-color: map-get($colors, darkblue );
        color: map-get($colors, gold );
        font-weight: bold;
        vertical-align: middle;
        border: 1px solid #293651;
    }

    td{
        background-color: map-get($colors, darkblue );
        vertical-align: middle;
        border: 1px solid #293651;

        a{
            color: map-get($colors, white );
        }
    }
}

.backstage_chart{
    display: flex;
    width: 100%;
    height: calc(50% - 8px);
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
    
    @include rwd(1400px){
        padding-top: 28px;
    }
}

.theme_income{
    // background-color: yellow;
    width: 70%;
    height: 100%;


}

.store_income{
    // background-color: orange;
    width: 30%;
    height: 80%;
    align-self: center;
}


