
/* ---------------------分館介紹----------------------------- */


#wrapper {
    width: 100%;
    // margin: 0 auto;

    // @include pad {
    //     width: 800px;
    // }

    // @include rwd(430px){
    //     width: 430px;
    // }
}

#wrapper .slogan {
    width: 80%;
    padding: 80px 0px;
    margin: 0 auto;
    text-align: center;
}


#wrapper .slogan p {
    font-size: map-get($fontsize , h3 );
    color: map-get($colors , danger );


    @include pad {
        font-size: map-get($fontsize , p );
    }

    @include rwd(430px){
        font-size: map-get($fontsize , p );
        margin: 0 auto;
    }
  
}

.branch_btn {

    width: 80%;
    margin: 0 auto;

    @include pad {
        // padding-left: 29px;
    }
    
    @include rwd(430px){
        // padding-left: 0px;
        width: 90%;
        // margin: 0 auto;
    }

}


.branch_btn #taipei {
    color: map-get($colors , darkblue );
    border-top: 1px solid white;
    border-left:1px solid white; 
    border-right: 1px solid white;
    border-bottom: none;
    width: 20%;
    height: 48px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px 40px 0px 0px;

    @include pad {
        width: 30%;
    }

    @include rwd(430px){
        width: 50%;
        margin: 0 auto;
    }
}

.branch_btn #taichung {
    color: map-get($colors , darkblue );
    border-top: 1px solid white;
    border-left:1px solid white; 
    border-right: 1px solid white;
    border-bottom: none;
    width: 20%;
    height: 48px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px 40px 0px 0px;

    @include pad {
        width: 30%;
    }

    @include rwd(430px){
        width: 50%;
        margin: 0 auto;
    }
}

.branch_btn button.active {
    background-color: map-get($colors , yellow );
}

.branch_btn button:hover {
    background-color: map-get($colors , gold );
}


#main {
    width: 80%;
    margin: 0 auto;
    border:1px solid #FFFFFF;
    margin-bottom: 80px;
    background-color: map-get($colors , lightblue );
    
    @include pad {
        margin: 0 auto;
        margin-bottom: 80px;
    }

    @include rwd(430px){
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

}

.introduce {
    width: 90%;
    margin: 0 auto;
    display: flex;
    
    margin-bottom: 80px;
    padding-top: 80px;

    @include pad {
        width: 90%;
    }

    @include rwd(430px){
        flex-direction: column;
        width: 90%;
        padding-top: 40px;
        margin-bottom: 60px;
    }

  
}

 .introduce .branch1 {
     width: 150%;
     margin: 0 auto;
    box-sizing: border-box;

    @include pad {
        width:60% ;
    }

    @include rwd(430px){
        width: 100%;
        height: 320px;
    }
 }

.introduce  img {
    width: 100%;
    height: 400px;
    box-sizing: border-box;

    @include pad {
        width: 100%;
        height: 100%;
    }

    @include rwd(430px){
        width: 100%;
        height: 320px;
    }
 
}

.introduce .text {
    padding-top: 45px;
    padding-left: 30px;


    @include pad {
        width: 330px;
        padding-top: 0px;
        padding-left: 20px;
        
    }

    @include rwd(430px){
        padding-top: 40px;
        padding-left: 0px;
    }

   
}

.introduce h2 {
    color: map-get($colors , white );
    font-size: map-get($fontsize , h3 );
    padding-bottom: 40px;

    @include pad {
        font-size: map-get($fontsize , p );
        padding-bottom: 10px;
    }

    @include rwd(430px){
        font-size: map-get($fontsize , p );
        width: 90%;
        margin: 0 auto;
    }

    
}

.introduce p {
    font-size: map-get($fontsize, p );
    color: map-get($colors , white );
    line-height: map-get($lineheight , p );
    
    @include pad {
        font-size: map-get($fontsize, p1 );
        line-height: 2.0;
    }

    @include rwd(430px){
        font-size: map-get($fontsize, p1 );
        width: 90%;
        margin: 0 auto;
    }

   
}



.theme {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;

    @include pad {
        width: 100%;
    }

    @include rwd(430px){
        width: 301px;
        margin-bottom: 60px;
        height: 500px;
    }

    
}



.theme li  {

    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.theme li i  {
    color: map-get($colors , yellow );
    font-size: 48px;
    padding: 8px;
    cursor: pointer;

    @include rwd(430px){
        display: none;
    }
}


.theme ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include rwd(430px){
        display: none;
    }
}

.theme ul li a {
    text-decoration: none;
}

.theme ul li img {
    width: 280px;
    height: 400px;

    @include pad {
        width: 180px;
        height: 270px;
    }

}

.theme .theme_name {
    width: 90%;
    display: flex;
    justify-content: space-between;

    @include pad {
        width: 90%;
    }
}

.theme .theme_name h3 {
    width: 280px;
    height: 40px;
    background-color: map-get($colors , yellow );
    color: map-get($colors , darkblue ) ;
    font-size: map-get($fontsize , h4);
    text-align: center;
    line-height: 40px;

    @include pad {
        width: 180px;
    }
}


.location {
    width: 90% ;
    margin: 0 auto;
    margin-bottom: 80px;
    justify-content: space-between;

    
    @include pad {
        width: 90%;
    }

    @include rwd(430px){
        width: 90%;
        margin: 0 auto;
        margin-bottom: 60px;
    }

}

.location .location_text {
    display: flex;
    color: map-get($colors , white );
    margin-bottom: 60px;

    @include rwd(430px){
        flex-direction: column;
        align-items: center;
    }
    
}

.location_text .location_icon {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.location .location_text p{
    font-size: map-get($fontsize, p );
    text-align: center;
    line-height: 20px;


     @include pad {
        font-size: map-get($fontsize, p1 );
    }

    @include rwd(430px){
        margin-bottom: 40px;
    }
    
   
}

.location iframe {
    width: 100% ;
    height: 300px;


      @include pad {
        width: 100%;
    }

    @include rwd(430px){
        width: 100%;
    }

  
}

.location_text .location_icon i {
    font-size: 30px;
    padding-bottom: 20px;
}


