
// ---------------------------遊戲主畫面1-----------------------------

.game {
    max-width: 100%;
    display: none;
}

.game.active {
    display: block;
}

.backgroundImg {
    width: 100%;
   position: relative;
}

// --------背景圖---------

.deadPc img {
    width: 100%;

    @include rwd(430px) {
        display: none;
    }
}

.deadMb img {
    width: 100%;
    display: none;

    @include rwd(430px) {
        display: block;
    }
}


// ----------星星1號----------

.deadstar1 {
    width: 20%;
    position: absolute;
    right: 16%;
    top: 3%;
    animation: blink 3s infinite;

    & img {
        width: 30%;

        @include rwd(430px) {
        width: 100%;
        }
    }

    @include rwd(430px) {
        width: 25%;
        position: absolute;
        right: 32%;
        top: 5%;
    
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

// ----------星星2號------------


.deadstar2 {
    width: 10%;
    position: absolute;
    right: 2%;
    top: 20%;
    animation: blink 2s infinite;

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }

    @include rwd(430px) {
        width: 15%;
        position: absolute;
        right: 3%;
        top: 24%;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}

// ----------星星3號-----------

.deadstar3 {
    width: 28%;
    position: absolute;
    left: 10%;
    top: 34%;
    animation: blink 1s infinite;

    & img {
        width: 28%;

        @include rwd(430px) {
            width: 100%;
        }
    }

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        left: 4%;
        top: 37%;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}

// ----------入口按鈕-----------

.deadBtn {
    width: 50%;
    position: absolute;
    left: 38%;
    bottom: 15%;
    cursor: pointer;
    animation-iteration-count: infinite;

    & img {
        width: 50%;

        @include rwd(430px) {
        width: 100%;
        }
    }

    @include rwd(430px) {
        width: 67%;
        position: absolute;
        left: 15%;
        bottom: 32%;
    }
}

// ----------左邊殭屍-----------

.deadZombie1 {
    width: 20%;
    position: absolute;
    left: 5%;
    bottom: 3%;

    @include rwd(430px) {
        width: 49%;
        position: absolute;
        left: 30%;
        bottom: 0%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------右邊殭屍-----------

.deadZombie2 {
    width: 19%;
    position: absolute;
    right: 7%;
    bottom: 0%;

    @include rwd(430px) {
        display: none;
    }

    & img {
        width: 100%;
    }
}

// ---------------------------遊戲主畫面2-----------------------------

.playGround {
    position: relative;
}

// ----------返回上一頁-----------

.returnBtn {
    width: 4%;
    position: absolute;
    right: 2%;
    top: 1%;

    @include rwd(430px) {
        width: 17%;
        position: absolute;
        right: 2%;
        top: 1%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 83%;
        }
    }
}
// ----------重新開始-----------

.resetBtn {
    width: 4%;
    position: absolute;
    right: 8%;
    top: 2%;
    cursor: pointer;

    @include rwd(430px) {
        width: 17%;
        position: absolute;
        right: 6%;
        top: 1%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 83%;
        }
    }
}

// ----------輸入數字框-----------

.guessNumberBox {
    width: 14% !important;
    height: 5% !important;
    position: absolute !important; 
    top: 22%;
    left: 22%;
}

// ----------墓碑-----------

.deadZombie3 {
    width: 30%;
    position: absolute;
    top: 62%;
    left: 1%;

    @include rwd(430px){
        width: 31%;
        position: absolute;
        top: 69%;
        left: 5%;
    }

    & img {
        width: 60%;
        cursor: pointer;

        @include rwd(430px) {
            width: 100%;
        }
    }

    img:hover {
        filter: drop-shadow(0 0 10px #b00000);
    }
}

// ----------警報器-----------

.deadZombie4 {
    width: 35%;
    position: absolute;
    top: 0%;
    left: 3%;
    transition: all 0.5s ease;
    
    @include rwd(430px) {
        width: 15%;
        position: absolute;
        top: 0%;
        left: 3%;
    }

    & img {
        width: 20%;

        @include rwd(430px) {
            width: 100%;
        }
    }

    &.active-alarm {
        // background-color: red;
        animation: alarm-flash 1s infinite;  /* 例如閃爍動畫 */
      }
      
}

@keyframes alarm-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.deadZombie4_1 {
    width: 35%;
    position: absolute;
    top: 0%;
    left: 3%;
    
    @include rwd(430px) {
        width: 15%;
        position: absolute;
        top: 0%;
        left: 3%;
    }

    & img {
        width: 20%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}


// ----------提示燈-----------

.deadZombie5 {
    width: 3%;
    position: absolute;
    top: 0%;
    right: 2%;

    @include rwd(430px) {
        width: 10%;
        position: absolute;
        bottom: 10%;
        right: 3%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------殭屍手臂-----------

.deadZombie6 {
    width: 7%;
    position: absolute;
    bottom: 4%;
    left: 12%;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------羊駝殭屍-----------

.deadZombie7 {
    width: 23%;
    position: absolute;
    bottom: 7%;
    left: 24%;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}
// ----------乳牛殭屍-----------

.deadZombie8 {
    width: 28%;
    position: absolute;
    bottom: 12%;
    right: 30%;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
    
    & p {
        position: absolute;
        top: 0%;
        left: 0%;
    }

}

// ----------樹-----------

.deadZombie9 {
    width: 19%;
    position: absolute;
    bottom: 16%;
    right: 0%;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------咕嚕頭-----------

.deadZombie10 {
    width: 11%;
    position: absolute;
    bottom: 13%;
    right: 6%;
    cursor: pointer;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }

    &:active {
        animation: move 0.3s linear ;
    }
}

// ----------鹿殭屍-----------

.deadZombie11 {
    width: 11%;
    position: absolute;
    bottom: 19%;
    right: 19%;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------蝙蝠-----------

.deadZombie12 {
    width: 12%;
    position: absolute;
    top: 37%;
    left: 1%;
    opacity: 0.8;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------綿羊殭屍-----------

.deadZombie13 {
    width: 9%;
    position: absolute;
    bottom: 4%;
    right: 31%;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------數字顯示框-----------

.recordPlace {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    gap: 15px;
    width: 31%;
    height: 30%;
    position: absolute;
    bottom: 51%;
    right: 20%;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }
   
    & .record {
        color: #6db818;
        font-family: "Nerko One", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        margin-right: 30px;
    }
}

// ----------輸入按鈕-----------

.playBtn {
    border-radius: 20px !important;
    width: 6%;
    background-color: lightgreen;
    font-size: 14px;
    position: absolute;
    top: 23%;
    left: 38%;
}

.answerBtn {
    width: 12%;
    background-color: lightgreen;
    font-size: 14px;
    position: absolute;
    top: 39%;
    left: 22%;
}

.reloadBtn {
    width: 12%;
    background-color: lightgreen;
    font-size: 14px;
    position: absolute;
    top: 46%;
    left: 22%;
}

// ----------歷史紀錄-----------

