
// ---------------------------遊戲主畫面1-----------------------------

.game {
    max-width: 100%;
    display: none;
}

.game.active {
    display: block;
}

.backgroundImg {
    width: 100%;
   position: relative;
}

// --------背景圖---------

.deadPc img {
    width: 100%;

    @include rwd(430px) {
        display: none;
    }
}

.deadMb img {
    width: 100%;
    display: none;

    @include rwd(430px) {
        display: block;
    }
}


// ----------星星1號----------

.deadstar1 {
    width: 20%;
    position: absolute;
    right: 16%;
    top: 3%;
    animation: blink 3s infinite;

    & img {
        width: 30%;

        @include rwd(430px) {
        width: 100%;
        }
    }

    @include rwd(430px) {
        width: 25%;
        position: absolute;
        right: 32%;
        top: 5%;
    
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

// ----------星星2號------------


.deadstar2 {
    width: 10%;
    position: absolute;
    right: 2%;
    top: 20%;
    animation: blink 2s infinite;

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }

    @include rwd(430px) {
        width: 15%;
        position: absolute;
        right: 3%;
        top: 24%;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}

// ----------星星3號-----------

.deadstar3 {
    width: 28%;
    position: absolute;
    left: 10%;
    top: 34%;
    animation: blink 1s infinite;

    & img {
        width: 28%;

        @include rwd(430px) {
            width: 100%;
        }
    }

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        left: 4%;
        top: 37%;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}

// ----------入口按鈕-----------

.deadBtn {
    width: 50%;
    position: absolute;
    left: 38%;
    bottom: 15%;
    cursor: pointer;
    animation-iteration-count: infinite;

    & img {
        width: 50%;

        @include rwd(430px) {
        width: 100%;
        }
    }

    @include rwd(430px) {
        width: 67%;
        position: absolute;
        left: 15%;
        bottom: 32%;
    }
}

// ----------左邊殭屍-----------

.deadZombie1 {
    width: 20%;
    position: absolute;
    left: 5%;
    bottom: 3%;

    @include rwd(430px) {
        width: 49%;
        position: absolute;
        left: 30%;
        bottom: 0%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------右邊殭屍-----------

.deadZombie2 {
    width: 19%;
    position: absolute;
    right: 7%;
    bottom: 0%;

    @include rwd(430px) {
        display: none;
    }

    & img {
        width: 100%;
    }
}

// ---------------------------遊戲主畫面2-----------------------------

.playGround {
    position: relative;
}

// ----------重新開始-----------

.resetBtn {
    width: 4%;
    position: absolute;
    right: 6%;
    top: 11%;
    cursor: pointer;
    z-index: 1;
    transform: rotate(26deg);

    

    @include rwd(430px) {
        width: 17%;
        position: absolute;
        right: 13%;
        top: 27%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 83%;
        }
    }

    img:hover {
        filter: drop-shadow(0 0 10px white);
    }
}

// ----------輸入數字框-----------

.guessNumberBox {
    width: 14% !important;
    height: 5% !important;
    position: absolute !important; 
    top: 17%;
    left: 26%;
    z-index: 1;

    @include rwd(430px) {
        width: 29% !important;
        height: 5% !important;
        position: absolute !important;
        top: 66%;
        left: 26%;
        z-index: 1;
    }
}

// ----------墓碑 遊戲說明-----------

.deadZombie3 {
    width: 29%;
    position: absolute;
    top: 62%;
    left: 1%;
    z-index: 1;

    @include rwd(430px){
        width: 35%;
        position: absolute;
        top: 74%;
        left: 1%;
    }

    & img {
        width: 60%;
        cursor: pointer;

        @include rwd(430px) {
            width: 100%;
        }
    }

    img:hover {
        filter: drop-shadow(0 0 10px darkgreen);
    }
}

// ----------警報器-----------

.deadZombie4 {
    width: 33%;
    position: absolute;
    top: 0%;
    left: 4%;
    
    @include rwd(430px) {
        width: 15%;
        position: absolute;
        top: 0%;
        left: 3%;
    }

    & img {
        width: 20%;
        
        &.alermSpin {
            animation: spin 2s linear infinite;
        }

        @include rwd(430px) {
            width: 100%;
        }
    }
}
@keyframes spin {
    0% {
      transform: rotatey(0deg);
    }
    
    100% {
      transform: rotatey(360deg);
    }
}

// ----------警報器光暈-----------
.alertLeft {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    
    &.active-alarm {
        background-color: #b2494d;
        animation: alarm-flash 4s infinite; /* 例如閃爍動畫 */
    }

    @include rwd(430px) {
        display: none;
    }
}

.alertRight {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;

    &.active-alarm {
        background-color: #b2494d;
        animation: alarm-flash 4s infinite;  /* 例如閃爍動畫 */
    }

    @include rwd(430px) {
        width: 100%;
    }
}

@keyframes alarm-flash {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
  }

  // ----------警報器黃色光束----------
.deadZombie4_1 {
    width: 33%;
    position: absolute;
    top: 0%;
    left: 4%;
    
    @include rwd(430px) {
        width: 15%;
        position: absolute;
        top: 0%;
        left: 3%;
    }

    & img {
        width: 20%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}


// ----------殭屍手臂-----------

.deadZombie6 {
    width: 7%;
    position: absolute;
    bottom: 9%;
    left: 14%;
    z-index: 1;

    @include rwd(430px) {
        width: 14%;
        position: absolute;
        bottom: 7%;
        right: 20%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------羊駝殭屍-----------

.deadZombie7 {
    width: 23%;
    position: absolute;
    bottom: 16%;
    left: 17%;
    transform: rotate(-11deg);

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            display: none;
        }
    }
}
// ----------乳牛殭屍-----------

.deadZombie8 {
    width: 28%;
    position: absolute;
    bottom: 12%;
    right: 24%;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            display: none;
        }
    }
    
    & p {
        position: absolute;
        top: 0%;
        left: 0%;
    }

}

// ----------樹----------

.deadZombie9 {
    width: 22%;
    position: absolute;
    bottom: 16%;
    right: 0%;

    @include rwd(430px) {
        width: 60%;
        position: absolute;
        bottom: 10%;
        right: 0%;
    
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }
}

// ----------咕嚕頭-----------

.deadZombie10 {
    width: 8%;
    position: absolute;
    bottom: 17%;
    right: 5%;
    cursor: pointer;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 11%;
        right: 16%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }

    &:active {
        animation: move 0.3s linear ;
    }
}

// ----------鹿殭屍-----------

.deadZombie11 {
    width: 11%;
    position: absolute;
    bottom: 20%;
    right: 16%;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            display: none;
        }
    }
}

// ----------蝙蝠-----------

.deadZombie12 {
    width: 12%;
    position: absolute;
    top: 29%;
    left: 1%;
    opacity: 0.8;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            display: none;
        }
    }
}

// ----------綿羊殭屍-----------

.deadZombie13 {
width: 8%;
    position: absolute;
    bottom: 14%;
    right: 48%;
    transform: rotate(15deg);

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 8%;
        right: 29%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            display: none;
        }
    }
}

// ----------離開掛牌-----------

.deadZombie14 {
    width: 7%;
    position: absolute;
    bottom: 6%;
    right: 14%;
    z-index: 1;

    @include rwd(430px) {
        width: 18%;
        position: absolute;
        bottom: 7%;
        right: 32%;
    }

    & img {
        width: 100%;

        @include rwd(430px) {
            width: 100%;
        }
    }

    img:hover {
        filter: drop-shadow(0 0 10px darkgreen);
    }
}

// ----------數字顯示框-----------

.recordPlace {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    gap: 15px;
    width: 25%;
    height: 28%;
    position: absolute;
    bottom: 55%;
    right: 25%;
    white-space: pre;


    @include rwd(430px) {
        width: 28%;
        height: 32%;
        position: absolute;
        bottom: 54%;
        right: 60%;
        display: flex;
        flex-wrap: wrap;
    }
   
    & .record {
        color: #6db818;
        font-family: "Nanum Brush Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;

        @include rwd(430px){
            font-size: 30px;
           
        }

    }
}

// ----------警告文字-----------

.deadGame p {
    color: #a6a6a6;
    position: absolute;
    bottom: 60%;
    left: 18%;
    font-size: 20px;
    overflow: hidden;
    // white-space: nowrap;
   
    // animation: typing 8s steps(20); /* 打字效果 */
    .line {
        display: block;
        white-space: nowrap; /* 防止文字自動換行 */
        overflow: hidden; /* 隱藏超出的文字 */
        visibility: hidden;
        animation: typing 7s steps(20) forwards, fadeIn 0.5s ease-in forwards;
    }

    .line:nth-child(1) {
        animation-delay: 0s;
    }
      
    .line:nth-child(2) {
        animation-delay: 5s;
    }

    @include rwd(430px){
        width: 70%;
        white-space: normal;
        font-size: 14px;
        position: absolute;
        bottom: 40%;
        left: 11%;
    }

}

@keyframes typing {
    from {
        width: 0 ;  visibility: visible;
    }
    to {
        width: 100%; visibility: visible;
    }
}

@keyframes fadeIn {
  from { visibility: hidden; } /* 淡入開始前不可見 */
  to { visibility: visible; } /* 動畫開始後設置為可見 */
}

// ----------輸入按鈕-----------

.playBtn {
    border-radius: 20px !important;
    width: 6%;
    font-size: 14px;
    position: absolute;
    top: 18%;
    left: 42%;
    z-index: 1;

    @include rwd(430px) {
        border-radius: 12px !important;
        width: 11%;
        font-size: 14px;
        position: absolute;
        top: 67%;
        left: 59%;
        z-index: 1;
    }
}

.answerBtn {
    width: 12%;
    background-color: lightgreen;
    font-size: 14px;
    position: absolute;
    top: 39%;
    left: 22%;
}

.reloadBtn {
    width: 12%;
    background-color: lightgreen;
    font-size: 14px;
    position: absolute;
    top: 46%;
    left: 22%;
}

// ----------歷史紀錄-----------

