.main-frontpage {
  width: 100%;
  height: 100vh;
  background-image: url(/src/assets/img/BG-fontpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.wrapper-frontpage {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include pad {
    width: 90%;
    padding: 40px 0;
  }

  .frontpage-logo {
    width: 20%;
    margin-bottom: 28px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    @include rwd(900px) {
      width: 30%;
    }

    @include pad {
      width: 40%;
    }
  }

  .frontpage-logo.show {
    opacity: 1;
    transform: translateY(0px);
  }
}

.content-frontpage {
  width: 100%;
  display: flex;
  gap: 360px;
  align-items: center;
  justify-content: center;

  @include rwd(1200px) {
    gap: 200px;
  }

  @include rwd(900px) {
    gap: 80px;
  }

  @include pad {
    gap: 120px;
  }

  @include phone {
    gap: 20px;
  }
}

// 左側按鈕
.frontpage-btnL {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  img {
    width: 60%;
    margin-bottom: 20px;
  }

  a {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    // color: #2196f3;
    color: map-get($colors, gold);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 28px;
    transition: 0.2s;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: map-get($colors, underyellow);
      background: map-get($colors, white);
      box-shadow: 0 0 10px #e0d4ac, 0 0 40px #e0d4ac, 0 0 80px #e0d4ac;
      transition-delay: 1s;
    }

    span {
      position: absolute;
      display: block;
    }

    span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #fbb824);
      /* 修正這裡的顏色 */
    }

    &:hover span:nth-child(1) {
      left: 100%;
      transition: 1s;
    }

    span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #fbb824);
    }

    &:hover span:nth-child(3) {
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s;
    }

    span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #fbb824);
    }

    &:hover span:nth-child(2) {
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
    }

    span:nth-child(4) {
      bottom: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #fbb824);
    }

    &:hover span:nth-child(4) {
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
    }
  }
}

.frontpage-btnL.show {
  opacity: 1;
  transform: translateY(0);
}

// 左側按鈕DIV特效
.glow-effect-L {
  animation: glow02 2s infinite alternate;
  animation-delay: 1s;
  filter: contrast(150%);
  /* 增加對比度 */
}

@keyframes glow02 {
  0% {
    box-shadow: 0 0 40px rgba(227, 206, 87, 0.8);
  }

  100% {
    box-shadow: 0 0 60px rgb(255, 253, 184, 1);
  }
}

// 右側按鈕
.frontpage-btnR {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  img {
    width: 60%;
    margin-bottom: 20px;
  }

  a {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    color: map-get($colors, fbblue);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 28px;
    transition: 0.2s;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #3defff;
      background: #85c8ff;
      box-shadow: 0 0 10px #1765a4, 0 0 40px #1765a4, 0 0 80px #1765a4;
      transition-delay: 1s;
    }

    span {
      position: absolute;
      display: block;
    }

    span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #2196f3);
      /* 修正這裡的顏色 */
    }

    &:hover span:nth-child(1) {
      left: 100%;
      transition: 1s;
    }

    span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #2196f3);
    }

    &:hover span:nth-child(3) {
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s;
    }

    span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #2196f3);
    }

    &:hover span:nth-child(2) {
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
    }

    span:nth-child(4) {
      bottom: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #2196f3);
    }

    &:hover span:nth-child(4) {
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
    }
  }
}

.frontpage-btnR.show {
  opacity: 1;
  transform: translateY(0);
}

// 右側按鈕DIV特效
.glow-effect-R {
  animation: glow01 2s infinite alternate;
  animation-delay: 1s;
  filter: contrast(150%);
  /* 增加對比度 */
}

@keyframes glow01 {
  0% {
    box-shadow: 0 0 40px rgba(132, 182, 233, 0.8);
  }

  100% {
    box-shadow: 0 0 60px rgb(253, 253, 253, 1);
  }
}

// 內文
.frontpage-text {
  width: 80%;
  color: #fff;
  text-align: center;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center;

  .frontpage-topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include pad {
      display: none;
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  .frontpage-slogran {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    @include rwd(900px) {
      flex-direction: column;
      gap: 40px;
      margin-top: 40px;
    }

    span {
      font-size: 40px;
      font-weight: bold;
      margin-right: 20px;

      @include pad {
        margin-right: 0px;
      }
    }

    .frontpage-slogranred {
      font-size: 60px;
      font-weight: bold;
      color: red;

    }
  }

  .frontpage-slogran.show {
    opacity: 1;
    transform: translateY(0);
  }
}


// .frontpage-slogran{
//   transition: opacity 1s 1s ease-in-out, transform 1s ease-in-out;
// }

// .notshow{
//   .frontpage-slogran{
//     opacity: 0;
//     transform: translateY(20px);
//   }

//   .frontpage-btnL{

//   }

// }