.main-homepage{
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0 auto;
    .wrapper-homepage{
        width: 90%;
        height: 100vh;
        margin: 0 auto;
        border: 1px solid red;
        .content-p-homedesign{
            
            background-image: url(../../img/BG-index.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            .content-p-homedesign-effect{
                border: 1px solid pink;
            }
            .content-p-homedesign-text{
                margin-top: 317px;
                margin-left: 120px;
            }
        }
    }
}