.main-homepage {
    width: 100%;
    // height: calc(100vh - 70px - 71.33px);
    margin: 0 auto;
}

.wrapper-homepage {
    width: 100%;
    margin: 0 auto;
}




// ===================================================================================
// 首頁第一部分  主視覺
.content-homepage {
    width: 100%;

    padding: 80px 0;
    background-image: url(/src/assets/img/BG-index-red2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // border-bottom: 1px solid gold;

    @include phone {
        padding: 46px 0;
    }
}

.homepage-text {
    margin-top: 147px;
    margin-left: 120px;

    @include rwd(1280px) {
        margin-top: 40px;
        margin-left: 40px;
    }

    @include pad {
        margin-top: 40px;
        margin-left: 80px;
    }

    @include rwd(541px) {
        margin-left: 40px;
    }

    @include phone {
        margin-left: 20px;
    }

    h1 {
        font-family: 'Noto Serif TC', serif;
        font-size: 80px;
        font-weight: bold;
        color: map-get($colors, usered);

        @include pad {
            font-size: 45px;
        }

        @include phone {
            font-size: 40px;
            text-align: center;
        }
    }
}

.intro-btn {
    margin-right: 150px;
    border-color: map-get($colors, gold);
    /* 改變外框線顏色 */
    animation: glowHow 1.5s infinite;

    @include rwd(1440px) {
        margin-right: 80px;
    }

    @include rwd(854px) {
        margin-right: 40px;
    }

    @include rwd(700px) {
        display: none;
    }
}

@keyframes glowHow2 {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

.introM-btn {
    display: none;
    animation: glowHow 1.5s infinite;
    
    @include rwd(700px) {
        display: block;
        margin: 0 auto;
    }
}


.homepage-introtext {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-family: 'Noto Serif TC', serif;
        font-size: 24px;
        font-weight: bold;
        color: map-get($colors, white);

        @include pad {
            font-size: 18px;
        }

        @include phone {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

.homepage-img {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;

    @include rwd(1280px) {
        margin-top: 40px;
    }

    @include phone {
        margin-top: 40px;
    }
}

.homepage-card01 {
    width: 25%;
    position: relative;

    @include rwd(854px) {
        display: none;
    }

    img {
        width: 100%;
    }

}

.homepage-card02 {
    margin-top: 40px;
    width: 25%;

    @include rwd(854px) {
        display: none;
    }

    img {
        width: 100%;
    }
}

.homepage-card03 {
    margin-bottom: 40px;
    width: 22%;

    @include rwd(854px) {
        width: 60%;
    }

    img {
        width: 100%;
    }
}

.homepage-effect {
    // 變數
    $speed: 6s;
    $wordCount: 8;
    width: 48%;
    height: 100px;
    position: relative;
    margin-left: 260px;
    filter: contrast(10) blur(1px);

    @include rwd(1280px) {
        width: 55%;
        margin-left: 160px;
    }

    @include pad {
        width: 35%;
        margin-left: 100px;
    }

    @include rwd(520px) {
        display: none;
    }

    .homeeffect-word {
        position: absolute;
        animation: homeeffect-word $speed infinite ease-in-out;
        color: map-get($colors , usered);
        font-family: 'Noto Serif TC', serif;
        font-weight: bold;
        width: 50%;

        @include pad {
            width: 100%;
        }

        @for $i from 0 to $wordCount {
            &:nth-child(#{$i + 1}) {
                // animation-delay: ($speed / ($wordCount + 1) * $i) - $speed;
                animation-delay: calc($speed / ($wordCount + 1) * $i) - $speed;
            }
        }

        @keyframes homeeffect-word {

            0%,
            5%,
            100% {
                filter: blur(0px);
                opacity: 1;
            }

            20%,
            80% {
                filter: blur(0.2em);
                opacity: 0;
            }
        }
    }
}




// ===================================================================================
// 首頁第二部分  品牌故事
.content-brandstory {
    width: 100%;
    padding: 80px 0;
    margin: 0 auto;
    background-image: url(/src/assets/img/BG-Index-bread.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // border-bottom: 1px solid yellow;

    @include phone {
        padding: 26px 0;
    }

    .brandstory-effect {}

}

.brandstory-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    @include pad {
        width: 94%;
    }

    @include phone {
        width: 96%;
    }
}

.brandstory-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

    @include rwd(920px) {
        display: none;
    }

    img {
        width: 80%;
        height: auto;
        display: block;
    }
}

.brandstory-text {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include rwd(912px) {
        width: 80%;
    }

    @include pad {
        width: 90%;
    }

    @include rwd(541px) {
        width: 86%;
    }

    .brandstory-sub {
        width: 40%;
    }

    .brandstory-title {
        display: flex;
        margin-bottom: 20px;

        @include phone {
            margin-bottom: 8px;
        }

        span {
            font-size: 48px;
            font-weight: bold;

            @include phone {
                font-size: 36px;
            }
        }

        span:nth-child(2) {
            color: map-get($colors , usered);
        }
    }

    h3 {
        font-size: 32px;
        font-weight: bold;
        margin: 8px 0;

        @include rwd(500px) {
            font-size: 24px;
        }

    }

    .while-lineforhome {
        border-top: 4px solid #fff;
        width: 60%;
    }

    .brandstory-intro {
        text-align: left;
        font-size: 20px;
        margin-bottom: 20px;

        @include phone {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    .brandstory-bottom {

        @include phone {
            margin-top: 12px;
        }

        p {
            font-size: 40px;
            font-weight: bold;
            line-height: 1.5;

            @include phone {
                font-size: 28px;
            }
        }

        p:nth-child(2) {
            color: map-get($colors , usered);
        }
    }
}




// ===================================================================================
// 首頁第三部分 限時主題
.content-limitlevel {
    width: 100%;
    padding: 80px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(/src/assets/img/Abyss_small2-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 50px;
        /* 羽化效果的高度 */
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));
        z-index: 1;
        filter: blur(5px);
    }

    &::after {
        bottom: 0;
        background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    }

    @include phone {
        padding: 60px 0;
    }
}

.limit_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.limitlevel-effect {}

.limitlevel-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.limitlevel-topic {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;

    @include pad {
        margin-bottom: 20px;
    }

}

.limitlevel-Area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    @include rwd(1200px) {
        margin: 0px 0;
    }


    @include phone {
        margin: 40px 0;
    }
}

.limitlevel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include rwd(1280px) {
        margin-right: 20px;
    }

    @include pad {
        display: none;
    }

    .limitlevel-sologanred {
        color: red;
    }

    .limitlevel-sologan-1 {
        display: flex;
        font-size: 24px;
        font-weight: bold;
        margin-left: 80px;

        @include rwd(1280px) {
            font-size: 18px;
            margin-left: 20px;
        }

        @include phone {
            margin-left: 40px;
        }


        span {
            margin-bottom: 60px;
            margin-top: 40px;

            @include phone {
                margin-bottom: 30px;
            }
        }
    }

    .limitlevel-sologan-2 {
        display: flex;
        font-size: 28px;
        font-weight: bold;
        margin-left: 180px;

        @include rwd(1280px) {
            font-size: 20px;
            margin-left: 150px;
        }

        @include phone {
            margin-left: 0px;
        }

        span {
            margin-bottom: 80px;

            @include phone {
                margin-bottom: 40px;
            }
        }

    }

    .limitlevel-sologan-3 {
        display: flex;
        font-size: 32px;
        font-weight: bold;
        margin-left: 120px;

        @include rwd(1280px) {
            font-size: 24px;
            margin-left: 60px;
        }

        @include phone {
            font-size: 16px;
            margin-left: 0px;
        }

        span {

            @include phone {}
        }
    }

    .limitlevel-sologan-4 {
        display: flex;
        font-size: 36px;
        font-weight: bold;
        margin-left: 0px;

        @include rwd(1280px) {
            font-size: 28px;
            margin-left: 0px;
        }

        @include phone {
            font-size: 24px;
            margin-left: 0px;
        }

        span {
            margin-top: 80px;

            @include phone {
                margin-top: 40px;
            }
        }
    }
}

.limitlevel-img {
    width: 30%;
    height: 50vh;
    text-align: center;
    background-image: url(/src/assets/img/Index-pic04.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;

    @include rwd(1280px) {
        width: 40%;
    }

    @include pad {
        width: 100%;
        height: 40vh;
    }

    @include rwd(541px) {
        height: 70vh;
    }

    img {
        width: 80%;

        @include pad {
            width: 100%;
        }
    }
}

.limitlevel-imgtext {
    transform: rotate(-3deg);
    width: 55%;

    @include phone {
        width: 65%;

    }

    p {
        font-size: 16px;
        text-align: left;
        line-height: 1.5;
    }
}

.limitlevel-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    transform: rotate(-3deg);
    // border: 1px solid rgb(9, 255, 230);

    .limitlevel-level {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;

        @include pad {
            margin-right: 4px;
        }

        p {
            font-size: 18px;
            margin-left: 8px;

            @include pad {
                font-size: 16px;
                margin-right: 4px;
            }
        }

    }

    .limitlevel-people {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;

        @include pad {
            margin-right: 4px;
        }

        p {
            font-size: 18px;
            margin-left: 8px;

            @include pad {
                font-size: 16px;
                margin-right: 4px;
            }
        }
    }

    .limitlevel-time {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;

        @include pad {
            margin-right: 4px;
        }

        p {
            font-size: 18px;
            margin-left: 8px;

            @include pad {
                font-size: 16px;
                margin-right: 4px;
            }
        }
    }
}

.linmit-link {
    margin: 0 auto;
}

// 預定按鈕
.linmit-btn {
    text-align: center;
    width: 120px;
    font-size: 18px;
    padding: 6px 12px;
    margin-bottom: 40px;
    margin-top: 40px;
    animation: glowHow 1.5s infinite;

    @include pad {
        margin-top: 40px;
    }

    @include phone {
        margin-bottom: 20px;
    }

    &:hover {
        background-color: map-get($colors, underyellow);
    }
}

// 那些icon
.limit-icon {
    color: map-get($colors , underyellow);
}

// 標題
.limitlevel-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    // border: 1px solid yellowgreen;

    span {
        $spanSize: 4px;
        font-size: 32px;
        font-weight: bold;
        color: map-get($colors, usered);
        // margin-bottom: 60px;
        position: relative;
        transform: scale(2);
        padding: $spanSize;
        letter-spacing: 2px;
        text-transform: uppercase;

        @include pad {
            font-size: 28px;
            transform: scale(1.5);
        }

        @include phone {
            font-size: 40px;
            transform: scale(1.7);
        }

        &::before,
        &::after {
            padding: $spanSize;
            color: white;
            content: attr(data-text);
            position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            overflow: hidden;
            top: 0;
        }

        &::before {
            left: 3px;
            text-shadow: -2px 0 red;
            animation: glitch-1 2s linear infinite reverse;
        }

        &::after {
            left: -3px;
            text-shadow: -2px 0 blue;
            animation: glitch-2 2s linear infinite reverse;

        }

        @keyframes glitch-1 {
            0% {
                clip: rect(132px, auto, 101px, $spanSize);
            }

            5% {
                clip: rect(17px, auto, 94px, $spanSize);
            }

            10% {
                clip: rect(40px, auto, 66px, $spanSize);
            }

            15% {
                clip: rect(87px, auto, 82px, $spanSize);
            }

            20% {
                clip: rect(137px, auto, 61px, $spanSize);
            }

            25% {
                clip: rect(34px, auto, 14px, $spanSize);
            }

            30% {
                clip: rect(133px, auto, 74px, $spanSize);
            }

            35% {
                clip: rect(76px, auto, 107px, $spanSize);
            }

            40% {
                clip: rect(59px, auto, 130px, $spanSize);
            }

            45% {
                clip: rect(29px, auto, 84px, $spanSize);
            }

            50% {
                clip: rect(22px, auto, 67px, $spanSize);
            }

            55% {
                clip: rect(67px, auto, 62px, $spanSize);
            }

            60% {
                clip: rect(10px, auto, 105px, $spanSize);
            }

            65% {
                clip: rect(78px, auto, 115px, $spanSize);
            }

            70% {
                clip: rect(105px, auto, 13px, $spanSize);
            }

            75% {
                clip: rect(15px, auto, 75px, $spanSize);
            }

            80% {
                clip: rect(66px, auto, 39px, $spanSize);
            }

            85% {
                clip: rect(133px, auto, 73px, $spanSize);
            }

            90% {
                clip: rect(36px, auto, 128px, $spanSize);
            }

            95% {
                clip: rect(68px, auto, 103px, $spanSize);
            }

            100% {
                clip: rect(14px, auto, 100px, $spanSize);
            }
        }

        @keyframes glitch-2 {
            0% {
                clip: rect(129px, auto, 36px, $spanSize);
            }

            5% {
                clip: rect(36px, auto, 4px, $spanSize);
            }

            10% {
                clip: rect(85px, auto, 66px, $spanSize);
            }

            15% {
                clip: rect(91px, auto, 91px, $spanSize);
            }

            20% {
                clip: rect(148px, auto, 138px, $spanSize);
            }

            25% {
                clip: rect(38px, auto, 122px, $spanSize);
            }

            30% {
                clip: rect(69px, auto, 54px, $spanSize);
            }

            35% {
                clip: rect(98px, auto, 71px, $spanSize);
            }

            40% {
                clip: rect(146px, auto, 34px, $spanSize);
            }

            45% {
                clip: rect(134px, auto, 43px, $spanSize);
            }

            50% {
                clip: rect(102px, auto, 80px, $spanSize);
            }

            55% {
                clip: rect(119px, auto, 44px, $spanSize);
            }

            60% {
                clip: rect(106px, auto, 99px, $spanSize);
            }

            65% {
                clip: rect(141px, auto, 74px, $spanSize);
            }

            70% {
                clip: rect(20px, auto, 78px, $spanSize);
            }

            75% {
                clip: rect(133px, auto, 79px, $spanSize);
            }

            80% {
                clip: rect(78px, auto, 52px, $spanSize);
            }

            85% {
                clip: rect(35px, auto, 39px, $spanSize);
            }

            90% {
                clip: rect(67px, auto, 70px, $spanSize);
            }

            95% {
                clip: rect(71px, auto, 103px, $spanSize);
            }

            100% {
                clip: rect(83px, auto, 40px, $spanSize);
            }
        }
    }

    p {
        font-size: 24px;

        @include pad {
            padding: 0 80px;
            text-align: center;
        }

        @include rwd(541px) {
            padding: 0 40px;
        }

        @include phone {
            font-size: 18px;
            padding: 0 20px;
        }

    }
}

.limit-br {
    display: none;

    @include pad {
        display: block;
    }
}




// ===================================================================================
// 首頁第四部分 如何遊玩
.content-howtoplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.howtoplay-content {
    width: 90%;
    // padding: 80px 0;

    @include phone {
        padding: 40px 0;
    }

}

.howtoplay-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;

    @include phone {
        margin-bottom: 20px;
    }
}

.howtoplay-box {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include phone {
        margin-bottom: 20px;
    }
}

.howPic1 {
    width: 100%;
    height: auto;
    background-image: url(/src/assets/img/mb_howtoplay_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.howPic2 {
    width: 100%;
    height: auto;
    background-image: url(/src/assets/img/mb_howtoplay_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.howPic3 {
    width: 100%;
    height: auto;
    background-image: url(/src/assets/img/mb_howtoplay_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.howPic1::before,
.howPic2::before,
.howPic3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 黑色半透明遮罩 */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    /* 添加過渡效果 */
    transition: background-color 0.5s ease;
}

.howPic1:hover::before,
.howPic2:hover::before,
.howPic3:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: map-get($colors, lightyellow);
    /* 改變外框線顏色 */
    animation: glowHow2 1.5s infinite;
}

@keyframes glowHow {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

// 文字區域
.howtoplay-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    /* 確保文字在遮罩之上 */

    @include rwd(1280px) {
        width: 40%;
    }

    @include pad {
        width: 80%;
    }

    @include phone {
        width: 90%;
    }

    .howtoplay-slogan {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0;

        @include phone {
            margin: 16px 0;
        }

        span {
            color: map-get($colors, yellow);
            font-size: 32px;
            font-weight: bold;
            margin: 12px;
        }
    }

    .howtoplay-lan {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;

        p {
            color: map-get($colors, white);

            @include phone {
                line-height: 1.6;
            }
        }
    }
}

// 圖片區域
.howtoplay-img {
    text-align: center;

    img {
        width: 70%;
    }
}




// ===================================================================================
// 首頁第五部分 最新消息
.content-announcement {
    width: 100%;
    background-color: black;

    @include phone {
        padding: 40px 0;
    }
}

// 切換新聞的平滑動畫

// 左邊按鈕
.News-swiper-button-prev,
.News-swiper-button-next {
    li {
        font-size: 48px;
        color: #FEDA77;
        cursor: pointer;

        &:hover {
            color: map-get($colors, priceorange);
        }
    }
}

.announcement-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;

    @include phone {
        margin-bottom: 12px;
    }
}

.announcement-content {
    margin: 0 auto;
    width: 96%;
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        // display: grid;
        // grid-template-columns: auto 1fr auto;
        /* 左右箭頭和中間內容 */
        align-items: center;
    }
}

.theme_forindex {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;

    @include pad {
        gap: 0px;
        grid-template-columns: repeat(1, 1fr);
    }
}

.News-swiper-button-prev{
    display: flex;
    align-items: center;
}

.News-swiper-button-next{
    display: flex;
    align-items: center;
}

.index-news-li {
    display: flex;
    flex-direction: column;
    justify-content: space-between; // 讓內容均勻分佈
    text-align: center;
    padding: 20px 0;
    transition: background-color .4s ease-in-out;
    width: 33.33%;

    @include pad {
        width: 80%;
    }

    @include phone {
        width: 80%;
    }

    &:hover {
        background-color: map-get($colors, black);
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
        color: map-get($colors, yellow);
        margin: 12px 0;

        @include phone {
            font-size: 18px;
            margin: 8px 0;
        }
    }

    img {
        width: 70%;
        border: 2px solid white;
    }

    p {
        line-height: 1.6;
        text-align: center;
        font-size: 16px;
        color: map-get($colors, yellow);
        padding: 0 40px;

        @include rwd(1280px) {
            padding: 0 20px;
        }

        @include pad {
            padding: 0 12px;
        }
    }
}

.news-notshow {
    display: block;

    @include pad {
        display: none;
    }

    @include phone {
        display: none;
    }
}

.index-news-text {
    color: #fff;
}

// 新增的媒體查詢
@media (max-width: 700px) {
    .index-news-li {
        display: none;
        /* 隱藏所有項目 */
    }

    .index-news-li:nth-child(2) {
        display: block;
        /* 顯示第一個項目 */
        width: 100%;
        /* 確保項目佔滿整個寬度 */
    }
}




// ===================================================================================
// 首頁第六部分 FAQ
.content-p-faq {
    width: 100%;
    // padding: 80px 0;
    padding-bottom: 80px;
    padding-top: 0;
    background-color: black;

    @include phone {
        padding: 20px 0;
    }

}

.index-faq-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-p-faq-contenter {
    width: 80%;
    margin: 0 auto;

    @include phone {
        width: 90%;
    }

    .index-active-faq {
        background-color: map-get($colors, yellow);
    }

    .index-question {
        color: map-get($colors, darkblue);
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-radius: 20px;
        padding: 12px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s;
        margin-bottom: 20px;

        &:hover {
            background-color: map-get($colors , lightyellow);
            color: map-get($colors , midnight);
        }

        @include phone {
            font-size: 16px;
            text-align: left;
        }
    }

    .indexfaq-icon{
        margin-left: 8px;
    }

    .index-answer {
        border-radius: 20px;
        margin: 10px 0;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .indexfaq-icon {
        @include phone {
            padding-left: 12px;
        }
    }
}