.error_container {
    z-index: 100;
    // height: 90vh;

    p,
    span {
        font-size: 15px;
        line-height: 1.7;
        font-weight: 500;
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    }
}


.error_page {

    margin: 40px auto;
    padding: 20px 40px;

    // border: 1px solid white;
    border-top: 10px solid #FF5555;
    background-color: #181818;
    width: 70%;
    border-radius: 10px;

.close_page_container{
    // border: 1px solid sandybrown;
    text-align: right;

    span {
        font-size: 30px;
        line-height: 1px;
        cursor: pointer;

    }
}


 

}

.error_information {
    color: #FF5555;
    margin-bottom: 13px;

    span {
        color: #C49BF1;
    }
}

.error_vue {

    margin-bottom: 16px;

    p {
        color: #FF5555;
    }

    span:nth-of-type(1) {
        margin-left: 30px;
    }

    span:nth-of-type(2),
    span:nth-of-type(7) {
        margin-left: 50px;
    }

    span:nth-of-type(3),
    span:nth-of-type(4),
    span:nth-of-type(5),
    span:nth-of-type(6) {
        margin-left: 70px;
    }

}


.error_html_container {
    // border: 1px solid salmon;
    margin-bottom: 16px;

    >p {
        color: #2DD9DA;
    }

    .error_html {
        display: flex;
        align-items: center;
        color: #D29F4F;

        span {
            margin-left: 30px;
        }
    }

}

.error_btn_container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

}

.error_btn,
.error_btn::after {
    border-radius: 60px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
    font-family: Noto Sans TC;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 24px;
    color: #FFFFFF;
    background-color: transparent;
    background-image: radial-gradient(at center, rgba(255, 255, 255, 0.3), rgba(24, 24, 24, 0.7));
    outline: transparent;

    position: relative;
    cursor: pointer;
    transition: all .3s;
    animation: glowing 1s ease infinite;
}


.error_btn:hover {
    background-image: radial-gradient(at center center, #FFFFFF0F 65%, #FFFFFF6B 100%);
}

@keyframes glowing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }

}



.error_btn:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: '預約debug';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #90E7F2 3%, #90E7F2 5% #B00000 5%);
    text-shadow: -3px -3px 0px #FCD15B, 3px 3px 0px #90E7F2;
    clip-path: var(--slice-0);

    animation: glitch 3s infinite;
    animation-timing-function: steps(2, end);
}


@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-1px, -2px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(3px, 3px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-2px, 3px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 3px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-2px, 3px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(1px, -2px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-2px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

.error_other {

    p:nth-child(1) {

        color: #BEBEBE;
        line-height: 1.6;

        margin: 0 0 13px 20px;
        word-break: break-all;
    }

    p:nth-child(2) {

        border-top: 1px dotted#BEBEBE;
        padding-top: 13px;
    }

    span:nth-of-type(1) {

        background-color: #26282C;
        border: .5px solid #BEBEBE;
        padding: 4px;
        border-radius: 2px;

    }

    span:nth-of-type(2),
    span:nth-of-type(3),
    span:nth-of-type(4) {
        color: #D29F4F;
        margin: 0 4px;
    }
}

//-----限時主題手機版popup-----
.slideshow_container {

    background-color: #181818;
    border-radius: 4px;
    width: 70%;
    padding: 10px 30px;
    margin: 6px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    display: none;

    .close_mbpage {
        font-size: 20px;
        position: absolute;
        top: 2%;
        right: 4%;
        cursor: pointer;

    }

    .error_mb_text {

        p {
            text-align: center;
            color: #2DD9DA;
        }
    }
}

.slideshow {
    // border: 1px solid sandybrown;

    img {
        width: 95%;

    }
}

// 手機版預定按鈕
.error_mbbtn,
.error_mbbtn::after {
    border-radius: 60px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
    font-family: Noto Sans TC;
    border: none;
    margin-bottom: 10px;
    width: 150px;
    height: 36px;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: transparent;
    background-image: radial-gradient(at center, rgba(255, 255, 255, 0.3), rgba(24, 24, 24, 0.7));
    outline: transparent;

    position: relative;
    cursor: pointer;
    transition: all .3s;
    animation: glowing 1s ease infinite;
}



//-----------------RWD----------------
@include rwd(767px) {


    .error_container {
        display: none;
    }


    .slideshow_container {
        display: block;
    }



}