@include google-font('Creepster');

.wrappermmange {
    display: flex;
    min-height: 600px;
}


.mmangeleft {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 50px 0 80px;

    .active {
        color: map-get($colors, gold);
    }

    @include pad() {
        display: none;
        width: 0;
    }
}

.btn_mange {
    border-radius: 0;
    color: map-get($colors, white);
    background-color: map-get($colors, darkblue);
    width: 100%;
    font-size: map-get($fontsize , h4);

    &:hover {
        color: map-get($colors, gold);
    }
}


.mmangeright {
    width: 80%;
    height: 100%;
    margin: 60px 0 80px;

    @include pad() {
        width: 100%;
    }

    .mangerightitems {
        display: none;

        .active {
            color: map-get($colors, gold);
        }

        @include pad() {
            display: flex;
            margin: 0 auto 20px;

            button {
                font-size:24px;
                display: block;
            }
        }

        @include rwd(430px) {
            button {
                font-size:20px;
                padding: 10px 0;
            }
        }
    }
}



//訂單檢視
.ordertext {
    display: flex;
    // display: none;

}

.ordertext_left {
    width: 75%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    h3 {
        margin-bottom: 20px;
        
    }

    @include pad() {
        width: 100%;
        h3{
            margin-left: 20px;
        }
    }
}


//小卡
.order_card {
    display: flex;
    background-color: map-get($colors, white);
    color: map-get($colors, black);
    // width: 80%;
    border-radius: 8px;
    position: relative;

    transition: transform 0.3s ease;
    margin-bottom: 20px;

    &:hover {
        // transform: scale(1.02);
        animation: glowHow 1.5s infinite;
    }
}

@keyframes glowHow {
    0% {
        box-shadow: 0 0 5px rgba(255, 223, 0, 0.5), 0 0 10px rgba(255, 223, 0, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 0.863), 0 0 30px rgba(255, 255, 0, 0.863);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 223, 0, 0.5), 0 0 10px rgba(255, 223, 0, 0.5);
    }
}

.order_cardusage {

    p {
        border-radius: 0 8px 0 8px;
        color: map-get($colors, white);
        padding: 4px 10px; 
        position: absolute;
        right: 0;
        top: 0;
        font-size: 16px;

        &.onuse {
            background-color: map-get($colors, usegreen);
        }

        &.noneuse {
            background-color: map-get($colors, usered);
        }

        &.cancaluse {
            background-color: map-get($colors, priceorange);
        }

        @include rwd(520px) {
            font-size: 10px;
            // padding: 0;
        }
    }
}

.order_cardleft {
    display: flex;
    width: 80%;
    border-right: 1px dashed map-get($colors, black);
    cursor: pointer;

    @include rwd(520px) {
        width: 75%;
    }

    .order_cardimg {
        max-width: 150px;
        min-width: 150px;
        max-height: 200px;
        margin: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill
        }

        @include rwd(520px) {
            margin: 5px;
            min-width: auto;

            max-width: 100px;
            max-height: 150px;
        }
    }

    .order_cardtext {
        width: 100%;
        margin: 20px;

        @include rwd(1280px) {
            margin: 4px;
        }

        @include rwd(520px) {
            margin: auto;
            width: auto;
        }

        p {
            font-size: map-get($fontsize, h4);

            &:nth-of-type(1) {
                font-size: map-get($fontsize, h3);
                font-weight: bold;

                @include rwd(520px) {
                    font-size: map-get($fontsize, p);
                }
            }

            @include rwd(1280px) {
                font-size: 18px;
            }

            @include rwd(520px) {
                font-size: map-get($fontsize, p1);
            }
        }
    }
}

.order_cardright {
    text-align: center;
    margin: auto;
    width: 20%;

    @include rwd(520px) {
        width: 25%
    }

    .order_cardstate {
        p {
            &:nth-of-type(2) {
                color: map-get($colors, priceorange);
                font-size: 16px;
            }

            @include rwd(520px) {
                font-size: map-get($fontsize, p1);
            }
        }

        button {
            color: map-get($colors, usered);
            border: none;
            background-color: transparent;
            font-size: map-get($fontsize, p);
            cursor: pointer;

            &:hover {
                font-weight: bold;
                text-decoration: underline;
            }

            @include rwd(520px) {
                font-size: map-get($fontsize, p1);
            }
        }

    }

}

.swalcolor {
    color: map-get($colors, darkblue);
    font-weight: bold;
}

.ordertext_right {
    width: 25%;
    height: 100%;
    margin: 0 20px;

    ul{
        border: 1px solid map-get($colors, white);
        border-radius: 8px;
        width: 80%;
    }

    .btn_ordera {
        color: map-get($colors, white);
        background-color: map-get($colors, darkblue);
        font-size: map-get($fontsize , h4);
        width: 100%;
        padding: 10px 12px;
        

        @include rwd(1280px) {
            padding: 10px 4px;
            font-size: 16px;
        }

        &:hover {
            color: map-get($colors, gold);
        }
    }

    h3 {
        border-bottom: 1px solid map-get($colors, white);
        border-radius: 8px 8px 0 0;
        text-align: center;
        font-weight: bold;

        @include rwd(1280px) {
            padding: 10px 4px;
            font-size: 16px;
        }
    }

    @include pad() {
        display: none;
    }
}



//優惠券
.coupontext {

    // display: none;
    .couponticket{
        position: relative;
        margin:10px 20px;       
        max-width: 800px;
        
        max-height: 260px;
        border-radius: 8px;
        
        font-family:'Creepster';
        color: map-get($colors,gold);
            .couponbg{
                
                max-width: 800px;
                max-height: 260px;
                border-radius: 8px;
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
            .rotate-text{  
                position: absolute;
                top: 37%;
                right: 32%;              
                font-size: 60px;
                line-height: 1;
                margin: 0;
                transform: rotate(6deg); 
                transform-origin: center; 
                @include rwd(750px) {
                    font-size: 45px;
                    top:38%;
                    right:32%
                }
                @include rwd(600px) {
                    font-size: 35px;
                    top:39%;
                    right:33%
                }
                @include rwd(450px) {
                    font-size: 28px;
                    top:39%;
                    right:33%
                }
                @include rwd(400px) {
                    font-size: 24px;
                    top:38%;
                    right:32%
                }
            }
        }
}

//會員資料管理
.editmember {

    .member_card_container {
        margin: 0 auto;
        // max-width: 80%;
        max-width: 600px;
        min-height: 300px;
        border-radius: 8px;
        background-color: map-get($colors , midnight);
        margin-bottom: 20px;

        p {
            background-color: map-get($colors , grayblue);
            border-radius: 8px 8px 0 0;
            text-align: center;
            font-size: 16px;
        }

    }

    .member_card_data {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    //頭貼
    .head_sticker {

        display: flex;
        justify-content: center;
        gap: 10px;
        width: 60%;


        .member_photo {
            // display: none;
            width: 60%;
            margin-left: -30px;
            height: auto;
            border-radius: 50%;
            border: 2px solid map-get($colors, gold);

            @include rwd(600px) {
                margin: 5% 10%;

            }
        }

    }

    .data_right {
        width: 80%;

        ul {
            // border: 1px solid whitesmoke;
            margin-left: -30px;
        }

        //會員資料
        li {
            // display: none;
            line-height: 1.2;
            margin-bottom: 20px;

        }

        .card_suspension {
            color: #ff4545;
        }

        @include rwd(600px) {
            h3 {
                display: none;
            }
        }

    }

    .btnedit,
    .btn_collect {
        margin-right: 5%;
        margin-bottom: 5%;
        width: 150px;
        font-size: 18px;
        padding: 4px 10px;
        font-weight: bold;
        text-align: center;
        border: 0;
        border-radius: 8px;

        cursor: pointer;
        color: map-get($colors , darkblue);
        background-color: map-get($colors , gold);

        &:hover {
            background-color: map-get($colors , yellow);

        }
    }


    //集點卡
    .member_card_collect {
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(2, 100px);
        gap: 12px;
        justify-content: center;
        align-items: center;
        margin-top: 26px;

        .card_collect {
            background-color: map-get($colors , grayblue);
            // padding: 48px;
            width: 100%;
            height: 100%;
            
        }
        .stamp-image {
            width: 105px; /* 調整圖片大小 */
            height: 105px;
          }
    }



    .btnlocation {
        text-align: center;
        margin-top: 15px;

        ul {
            padding: 0;
            display: flex; // 將 ul 設為 flex 容器
            flex-direction: column; // 垂直排列
            align-items: center; // 置中對齊
            gap: 24px;

            span {
                font-size: 20px;
                margin-bottom: 24px;
            }
        }

        li {
            text-align: center;
            align-items: center;
            width: 80vh;

            @include rwd(600px) {
                width: 300px
            }
        }
    }


    .editphone {
        padding-left: 10px;
        outline: none;
        font-size: map-get($fontsize, h4);


    }



    .flexinput {
        display: flex;
        align-items: center;

        h4 {
            flex-shrink: 0;
            width: 200px;
            text-align: left;
        }

        input {
            background-color: map-get($colors , grayblue);
            color: map-get($colors , lightyellow);
            outline: none;
            border: none;
            width: 100%;
            font-size: 18px;
            max-width: 300px;
            border-radius: 8px;
            padding: 10px 12px;
            flex-grow: 1;
            box-sizing: border-box;
        }

        @include rwd(600px) {
            flex-direction: column;
            width: 300px;

            h4 {
                margin-bottom: 10px;
                text-align: left;
            }

            input {}
        }
    }


}

@include rwd(640px) {
    .editmember {
        .member_card_container {

            max-width: 300px;
        }

        .member_card_data {
            flex-direction: column;
            text-align: center;
            margin-top: 10px;
        }

        .data_right {

            ul {
                // border: 1px solid salmon;
                margin: 0 auto;
                display: inline-block;


            }

            li {
                // text-align: left;
                margin-top: 20px;
            }

        }

        .flexinput {
            align-items: flex-start;

            h4 {
                font-size: 18px;
            }
        }

        .member_card_collect {
            grid-template-columns: repeat(2, 100px);
            grid-template-rows: repeat(3, 100px);
            padding-bottom: 26px;
        }

    }

}

@include rwd(500px) {
.editmember{

    .data_right {
        span {
            font-size: 16px;
        }

    }
    .btnedit,
    .btn_collect,
    .btnlocation ul span,
    .flexinput h4{

        font-size: 16px;
    }


}

}