.minigame_body {
    background-color: #020912;
    min-height: 100vh;
    overflow-x: hidden;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 113vh;

    background-image: url('../img/cemetery.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    // background-attachment: fixed;

    // .sticky-background{
    //     width: 100%;
    //     // position: 50% 100%;
    //     position: relative;
    // }

    #cemetery_text {
        position: absolute;
        top: 20%;
        font-size: 44px;
        font-weight: 800;
        // color: map-get($colors, darkblue);
        color: white;
        text-shadow: 0 0 13px #4E3B8D, 0 0 10px #1f0379;
    }

    img {
        position: absolute;
        // bottom: 0;
        // left: 0;
        // max-width: 100%;
        pointer-events: none;
    }

    #tree-left {
        top: 0;
        left: 0;
    }


    #tree-right {
        top: 0;
        right: 0;
    }

    #grass {
        bottom: 0px;
        width: 100%;
    }


    #gate-left {
        bottom: 0;
        left: -300px;
        // transform: translateX(-282px);
    }

    #gate-right {
        bottom: 0;
        right: -300px;
        // transform: translateX(305px);
    }
}

.split_text {
    // border: 1px solid white;
    font-size: 24px;
    max-width: 80%;

    margin: 40px auto;
}

.cemetery_text {
    text-align: center;

}

// -----map start-----


.minigame_map {
    // border: 1px solid wheat;
    text-align: center;
}

// -----動畫－座標-----
.coordinate {
    animation: updown .8s linear infinite;
    cursor: pointer;

    @keyframes updown {
        0% {
            transform: translateY(0px)
        }

        50% {
            transform: translateY(-10px)
        }

        100% {
            transform: translateY(0px)
        }
    }
}

// -----動畫－殭屍手手-----
.zombie_hand g:nth-of-type(1) {
    transform-origin: bottom center;

    animation: grasp 2s infinite ease-in-out;

    @keyframes grasp {
        0% {
            transform: rotate(0deg) translateX(0) translateY(7px);
        }

        50% {
            transform: rotate(-5deg) translateX(-10px) translateY(5px);
        }

        75% {
            transform: rotate(2deg) translateX(0) translateY(10px);
        }

        100% {
            transform: rotate(0deg) translateX(0) translateY(7px);
        }
    }
}

.zombie_hand g:nth-of-type(2) {
    animation: wavehand 2s infinite ease-in-out;
}

@keyframes wavehand {


    50% {
        transform: translateX(15px);
    }
}

.zombie_hand g:nth-of-type(3) {
    animation: wave 1.5s infinite ease-in-out;
}

@keyframes wave {

    50% {
        transform: translateX(5px) translateY(5px);
    }
}

// -----動畫－阿飄-----
.minigame_ghost {
    animation: ghostupdown 2s linear infinite;

    @keyframes ghostupdown {
        0% {
            transform: translateY(0px)
        }

        50% {
            transform: translateY(-30px)
        }

        100% {
            transform: translateY(0px)
        }
    }
}

// -----動畫－房子-----

.house_light {
    fill: #FBC75D;
    animation: discoloration 2s linear infinite;
    ;

    @keyframes discoloration {
        0% {
            fill: #FBC75D;
        }

        50%{
            fill: #2a4e28;
        }

        100%{
            fill: #FBC75D;
        }
    }
}


.leftzombie {
    animation: leftzombieWalk 5s infinite;
    animation-timing-function: steps(5, end);
}

@keyframes leftzombieWalk {
    0% {
        transform: translateX(0) scale(1, 1);
    }

    50% {
        transform: translateX(100px) scale(1, 1);
    }

    51% {
        transform: translateX(calc(10px + 50%)) scale(-1, 1);
    }

    100% {
        transform: translateX(40%) scale(-1, 1);
    }
}

.rightzombie{
    animation: rightzombieWalk 8s infinite;
    animation-timing-function: steps(8, end);

    @keyframes rightzombieWalk {
        0% {
            transform: translateX(0) scale(1, 1);
        }
    
        50% {
            transform: translateX(-100px) scale(1, 1);
        }
    
        51% {
            transform: translateX(calc(-10px + 150%)) scale(-1, 1);
        }
    
        100% {
            transform: translateX(165%) scale(-1, 1);
        }
    }





}








// -----map end-----























/*
// 液體
.loader {
    // background-color: #02640e;
    // border: 1px solid white;
    width: 50px;
    height: 10px;
    position: relative;
    // position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        bottom: -10px;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        bottom: -100px;
    }
}

.drops {
    -webkit-filter: url('#liquid');
    filter: url('#liquid');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // z-index: 1;
    // opacity: 0;
    animation: fade-in .1s linear .4s forwards;
}

.drop1,
.drop2 {
    width: 21px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // background-color: #10a7c1
}


.drop2 {
    background-color: #02640e
}

.drop1 {
    width: 100%;
    height: 16px;
    bottom: 2px;
    border-radius: 0;
    background-color: #020912
}

.drop2 {
    animation: drop 1.3s cubic-bezier(1, .19, .66, .12) .5s infinite;
 }

*/