.minigame_body {
    background-color: #020912;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}

// -----視差滾動 start-----

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 113vh;

    background-image: url('../img/cemetery.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    // background-attachment: fixed;

    // .sticky-background{
    //     width: 100%;
    //     // position: 50% 100%;
    //     position: relative;
    // }

    #cemetery_text {
        position: absolute;
        top: 20%;
        font-size: 44px;
        font-weight: 800;
        // color: map-get($colors, darkblue);
        color: white;
        text-shadow: 0 0 13px #4E3B8D, 0 0 10px #1f0379;
    }

    img {
        position: absolute;
        // bottom: 0;
        // left: 0;
        // max-width: 100%;
        pointer-events: none;
    }

    #tree-left {
        top: 0;
        left: 0;
    }


    #tree-right {
        top: 0;
        right: 0;
    }

    #grass {
        bottom: 0px;
        width: 100%;
    }


    #gate-left {
        bottom: 0;
        left: -300px;
        // transform: translateX(-282px);
    }

    #gate-right {
        bottom: 0;
        right: -300px;
        // transform: translateX(305px);
    }
}


// -----分割文字 start-----
.split_text,
.split_text_2 {
    // border: 1px solid white;
    font-size: 24px;
    max-width: 80%;
    margin: 40px auto;
}

.cemetery_text {
text-align: center;
}

// -----入墓須知 start-----

.envelope_container {
    // border: 1px solid white;
    height: 30vh;

    display: grid;
    justify-content: center;
    align-items: center;

    place-items: center;
    margin-top: 80px;
    

    .envelope_wrapper {
        height: 120px;
        background: #d8d7e5;

        cursor: pointer;
    }

    //大小
    .envelope {
        position: relative;
        width: 540px;
        height: 320px;
    }
}

.envelope_wrapper>.envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 210px solid #7873A7;
    border-left: 271px solid transparent;
    border-right: 271px solid transparent;
    transform-origin: top;
    transition: all .5s ease-in-out .7s;
}

.envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 210px solid transparent;
    border-right: 271px solid #555184;
    border-bottom: 150px solid #403d64;
    border-left: 271px solid #555184;
}

.envelope>.letter {
    position: absolute;
    right: 22%;
    bottom: 0;
    width: 50%;
    height: 80%;
    background: #d8d7e5;
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px #4F4C6B;
    padding: 30px 15px 0px 15px;
}

.letter_text{
    p {
        color: #020912;
        font-size: 12px;
        text-align: center;
    }

    img{
        width: 50px;
        margin-top: 20px;
    }
} 

.sticker {
    position: absolute;
    top: 62%;
    left: 50%;
    width: 25px;
    height: 25px;
    // border-radius: 50%;
    background-color: #FBC75D;
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: ease-in-out .5s;
}

.flap {

    .sticker {
        transform: rotate(90deg);
        transition:  ease-in-out .4s;
    }

    .envelope::before {
        transform: rotateX(180deg);
        z-index: 0;
    }

    .envelope .letter {
        bottom: 100px;
        transform: scale(1.7);
        transition-delay: 1s;
    }

}


// -----map start-----

.minigame_map {
    // border: 1px solid wheat;
    text-align: center;
    margin: 250px 0;
}

// -----動畫－座標-----
.coordinate {
    animation: updown .8s linear infinite;
    cursor: pointer;

    @keyframes updown {
        0% {
            transform: translateY(0px)
        }

        50% {
            transform: translateY(-10px)
        }

        100% {
            transform: translateY(0px)
        }
    }
}


// -----動畫－殭屍手手-----
.zombie_hand g:nth-of-type(1) {
    transform-origin: bottom center;

    animation: grasp 2s infinite ease-in-out;

    @keyframes grasp {
        0% {
            transform: rotate(0deg) translateX(0) translateY(7px);
        }

        50% {
            transform: rotate(-5deg) translateX(-10px) translateY(5px);
        }

        75% {
            transform: rotate(2deg) translateX(0) translateY(10px);
        }

        100% {
            transform: rotate(0deg) translateX(0) translateY(7px);
        }
    }
}

.zombie_hand g:nth-of-type(2) {
    animation: wavehand 2s infinite ease-in-out;

    @keyframes wavehand {


        50% {
            transform: translateX(15px);
        }
    }
}

.zombie_hand g:nth-of-type(3) {
    animation: wave 1.5s infinite ease-in-out;

    @keyframes wave {

        50% {
            transform: translateX(5px) translateY(5px);
        }
    }

}

// -----動畫－阿飄-----
.minigame_ghost {
    animation: ghostupdown 4s linear infinite;

    @keyframes ghostupdown {
        0% {
            opacity: 0;
            transform: rotate(0deg) translate(-70px) rotate(0deg) translateX(-50px);
        }

        25% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        75% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: rotate(360deg) translate(-70px) rotate(-360deg) translateX(-50px);
        }
    }
}

// -----動畫－房子-----

.house_light {
    fill: #FBC75D;
    animation: discoloration 2s infinite;
    ;

    @keyframes discoloration {
        0% {
            fill: #FBC75D;
        }

        50% {
            fill: #2a4e28;
        }

        100% {
            fill: #FBC75D;
        }
    }
}

// -----動畫－殭屍-----
.leftzombie {
    animation: leftzombieWalk 5s infinite;
    animation-timing-function: steps(5, end);

    @keyframes leftzombieWalk {
        0% {
            transform: translateX(0) scale(1, 1);
        }

        50% {
            transform: translateX(100px) scale(1, 1);
        }

        51% {
            transform: translateX(calc(10px + 50%)) scale(-1, 1);
        }

        100% {
            transform: translateX(40%) scale(-1, 1);
        }
    }
}

.rightzombie {
    animation: rightzombieWalk 8s infinite;
    animation-timing-function: steps(8, end);

    @keyframes rightzombieWalk {
        0% {
            transform: translateX(0) scale(1, 1);
        }

        50% {
            transform: translateX(-100px) scale(1, 1);
        }

        51% {
            transform: translateX(calc(-10px + 150%)) scale(-1, 1);
        }

        100% {
            transform: translateX(165%) scale(-1, 1);
        }
    }
}

// -----動畫－雲-----

.cloud path:nth-of-type(1) {
    animation: cloudmove1 5s linear infinite;

    @keyframes cloudmove1 {
        0% {
            transform: translate(0px);
        }

        50% {
            transform: translate(50px);
        }

        100% {
            transform: translate(0px);
        }
    }
}

.cloud path:nth-of-type(2) {
    animation: cloudmove2 5s 1s linear infinite;

    @keyframes cloudmove2 {
        0% {
            transform: translate(0px);
        }

        50% {
            transform: translate(70px);
        }

        100% {
            transform: translate(0px);
        }
    }
}

.cloud path:nth-of-type(3) {
    animation: cloudmove3 5s 1.5s ease-in-out infinite;

    @keyframes cloudmove3 {
        0% {
            transform: translate(0px);
        }

        50% {
            transform: translate(40px);
        }

        100% {
            transform: translate(0px);
        }
    }
}

// -----map end-----

