/* --------------------------結帳資訊------------------------------------------- */
#pay_wrapper{
    width: 1200px;
    margin: 0 auto;

    @include rwd(820px){
        width: 780px;
        margin: 0 auto;
    }

    @include rwd(430px){
        width: 400px;
    }
}
/* --------------------------返回------------------------------------------- */

.pay_return {
    width: 50px;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;

    @include rwd(820px){
        margin-left: 25px;
        margin-top: 20px;
    }
}

.pay_return a {
    text-decoration: none;
    color: map-get($colors , white );
}

/* -----------------------------過程順序---------------------------------------- */


.pay_process {
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;

    @include rwd(820px){
        width: 700px;
    }

    @include rwd(430px){
        width: 400px;
    }
}

.pay_number {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    @include rwd(820px){
        width: 100px;
    }
}

.pay_number .circle1 {
    background-color: map-get($colors , white );
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}

.pay_number .circle2 {
    background-color: map-get($colors , yellow );
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}

.pay_number .circle3 {
    background-color: map-get($colors , white );
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}


.pay_number .circle1, .circle2, .circle3 p {
    color: map-get($colors , darkblue );
}



.pay_number .circle2::before {
    content: '';
    display: block;
    width: 390px;
    height: 1px;
    background-color: map-get($colors , white );
    
    position: absolute;
    top: 35px;
    right: 70px;

    @include rwd(820px){
        width: 200px;
        position: absolute;
        top: 35px;
        right:100px;
    }

    @include rwd(430px){
        width: 90px;
        position: absolute;
        top: 35px;
        right:80px;
    }

}

.pay_number .circle2::after {
    content: '';
    display: block;
    width: 390px;
    height: 1px;
    background-color: map-get($colors , white );

    position: absolute;
    top: 35px;
    left: 70px;

    @include rwd(820px){
        width: 200px;
        position: absolute;
        top: 35px;
        left: 100px;
    }

    @include rwd(430px){
        width: 90px;
        position: absolute;
        top: 35px;
        left: 80px;
    }
}


/* --------------------------------------------------------------------- */

.pay_all {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;


    @include rwd(820px){
        width: 750px;
    }

    @include rwd(430px){
        flex-direction: column-reverse;
        width: 400px;
        margin: 0 auto;
        margin-bottom: 210px;
    }
}

.pay_all .pay_left {
    width: 810px;

    @include rwd(820px){
        width: 400px;
    }

    @include rwd(430px){
        width: 375px;
    }
}

.pay_all .pay_right {
    width: 350px;

    @include rwd(430px){
        width: 400px;
        margin-bottom: 10px;
    }
}

/* --------------------------------------------------------------------- */

.pay_left {
    border: 1px solid #ffff;
    padding: 10px;
    line-height: 1.6;
}

.pay_left h2 {
    font-size: map-get($fontsize , h4);
    margin-bottom: 10px;
}

.pay_left p {
    font-size: map-get($fontsize , p1 );

    @include rwd(820px){
        font-size: map-get($fontsize , p); 
    }
}

.pay_left .paycard {
    line-height: 30px;
    margin-bottom: 230px;

    @include rwd(430px){
        margin-bottom: 40px;
    }
}

.pay_left .card_number {
    margin: 20px 0px;
}

.pay_left .card_number input {
    padding-left: 10px;
    width: 640px;
    height: 30px;
    outline: none;

    @include rwd(820px){
        width: 340px;
    }
}

.pay_left .card_time {
    display: flex;

    @include rwd(820px){
        flex-direction: column;     
    }
   
}

.pay_left .card_time .cardmonth {

    @include rwd(820px){
        display: flex;       
    }
    
}

.pay_left .card_time input {
    padding-left: 10px;
    width: 200px;
    height: 30px;
    margin-right: 5px;
    outline: none;

    @include rwd(820px){
        width: 160px;
    }
}


.pay_left.cardcode input {
    width: 270px;
}


/* --------------------------------------------------------------------- */


.pay_right .details {
    width: 350px;
    height: 623px;
    border: 1px solid #ffff;
    padding: 10px;
    margin-left: 20px;
    padding-left: 15px;

    @include rwd(820px){
        width: 305px;
        height: 750px;
    }

    @include rwd(430px){
        width: 370px;
        margin-left: 0;
        height: 530px;
    }
}

.pay_right .details h2 {
    font-size: map-get($fontsize , h4 );
    margin-bottom: 10px;
}

.pay_right .details .list p {
    font-size: map-get($fontsize , p);
    margin-bottom: 10px;
}

.pay_right .details .list .pp {
    font-size: 16px;
}


.pay_right .details select {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    outline: none;
}

.pay_right .amount {
    margin-top: 30px;
    margin-bottom: 30px;

    @include rwd(820px){
        margin-bottom: 130px;
    }

    @include rwd(430px){
        margin-bottom: 670px;
    }
}

.pay_right .amount .price {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;

    @include rwd(820px){
        width: 280px;
    }

    @include rwd(430px){
        width: 350px;
    }
}

.pay_right .button01 {
    width: 300px;
    margin: 0 auto;
}

.pay_right .next_btn {
    width: 300px;
    height: 35px;
    border-radius: 12px;
    cursor: pointer;
    background-color: lightgray;
    font-size: map-get($fontsize , p1 );
    line-height: 1.2;
}

.next_btn.active {
    background: #FEDA77;
}

