
/* -------------------------preorder 預定主題------------------------------- */

#preorder_wrapper {
    width: 90%;
    margin: 0 auto;
}

/* --------------------返回------------------------------------ */


/* --------------------活動資訊------------------------------------ */

.preorder_toppic img {
    margin-top: 40px;
    width: 100%;
    // height: 600px;

    @include rwd(820px){
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }

    @include rwd(430px){
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
}


.preorderinfor_active {
    height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #ffff;
    border-radius: 12px;

    @include rwd(820px){
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    @include rwd(430px){
        width: 100%;
        height: 200px;
    }
}

.preorderinfor_active h2 {
    font-weight: bold;
    font-size: map-get($fontsize , h3 );
    color: map-get($colors , white );
    padding: 10px 20px;
}


.preorderinfor_active .infor_list ul {
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: map-get($colors , white );

    @include rwd(430px){
        padding: 0px;
        flex-direction: column;
        font-size: map-get($fontsize , p );
    }
    
}

.preorderinfor_active .infor_time {
    width: 220px;
    display: flex;
    justify-content: space-between;

    @include rwd(430px){
        width: 220px;
        
    }
    
}

.preorderinfor_active .infor_time li i {
    font-size: 20px;
}

.preorderinfor_active .infor_list {
    font-size: map-get($fontsize , p);

    @include rwd(430px){
        width: 90%;
        margin: 0 auto;
        line-height: 2;
        font-size: 20px;
    }
    
}

.infor_notice {
    border: 1px solid #ffff;
}


/* --------------------日期與時段------------------------------------ */

.preorder_datetime {
    border: 1px solid #ffff;
    margin-bottom: 40px;
    border-radius: 12px;

    @include rwd(820px){
        width: 100%;
        margin-bottom: 20px;
    }

    @include rwd(430px){
        height: 930px;
    }
}

.preorder_datetime .timeandele {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @include rwd(820px){
        flex-direction: column;
    }

}


.preorder_datetime h2 {
    font-weight: bold;
    font-size: map-get($fontsize , h3 );
    padding: 10px 20px;
    color: map-get($colors , white );
}



.preorder_datetime .time {
    width: 560px;
    height: 375px;
    border: 1px solid #fff;
    color: map-get($colors , white );

    @include rwd(820px){
         width: 100%;
     }

    @include rwd(430px){
        width: 100%;
        height: 440px;
        margin-top: 10px;
        border: none;
    }

}

.preorder_datetime .time h3 {
    font-size: map-get($fontsize , h4 );
    width: 100px;
    margin: 0 auto;
    padding-top: 20px;
    

    @include rwd(430px) {
        border-bottom: 1px solid white;
    }
}

.preorder_datetime .time .time_ele {
    width: 367px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;

    @include rwd(430px){
        width: 250px;
    }

}


.preorder_datetime .time .time_ele .ele {
    height: 50px;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    margin: 20px;

}


.preorder_datetime .time .amount {
    width: 350px;
    margin: 0 auto;

    @include rwd(430px){
        width: 210px;
    }
}

.preorder_datetime .time .amount #people {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    padding: 10px;
    color: map-get($colors , darkblue );

    @include rwd(430px){
        width: 210px;
        font-size: 16px;
    }
}

// .preorder_datetime .time .time_ele .ele:hover {
//     background-color: map-get($colors , gold );
//     cursor: pointer;
// }




/* --------------------訂購須知------------------------------------ */

.preorder_infornotice {
    color: map-get($colors , white );
    padding: 20px;
    border:1px solid #ffff;
    border-radius: 12px;

    @include rwd(820px){
        // width: 740px;
    }

    @include rwd(430px){
        // width: 340px;
        display: none;
    }
}


.preorder_infornotice ul li {
    line-height: 2.3;
}

.preorder_infornotice h2 {
    font-size: map-get($fontsize , h3 );
    font-weight: bold;
    padding-bottom: 20px;
}

.preorder_infornotice h3 {
    font-size: map-get($fontsize , p );
}

.preorder_infornotice .content {
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 40px;

    @include rwd(430px){
        height: 60px;
    }
    
}

.preorder_infornotice .content i {
    font-size: 6px;
    margin-right: 12px;
}

.preorder_infornotice .content p {
    font-size: map-get($fontsize , p1 );

}


/* --------------------下一步------------------------------------ */

.nextstep {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 80px;
}

.nextstep .next_btn {
    // background-color: map-get($colors , yellow );
    background-color: lightgray;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-size: map-get($fontsize , p1 );
}


// .nextstep next_btn:hover {
//     background-color: map-get($colors , gold );
//     cursor: pointer;
// }

.next_btn.active {
    background: #FEDA77;
    cursor: pointer;
}
