.backstage_footer_one{
    width: 100%;
    display: flex;
    text-align: center;

    display: grid;

    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'logo text empty';

    align-items: center;
    justify-items: center;
    
    img{
        width: 30%;
        grid-area: logo;
        margin: 0 auto;
    }
}

.bm_text1{
    grid-area: text;
    margin: 0 auto;

    p{
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
    }

}