.bottom {
    background-color: map-get($colors, lightblue);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;

    @include rwd(1280px) {
        justify-content: center;
    }
}

.bottom_div1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_div2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer_textArea {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include rwd(750px) {
        margin-left: 0px;
    }
}

.footer_logo2 {
    img {
        width: 100px;
        height: 70px;

        @include rwd(750px) {
            display: none;
        }
    }
}

.bm_logo {
    display: flex;
    margin-bottom: 4px;
    align-items: center;

    .bm_icon {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.bm_text {
    color: map-get($colors, white);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    @include rwd(900px) {
        width: 100%;
    }

    p {
        font-size: 12px;

        &:last-child {
            margin-right: 0;
            line-height: 1.2;
        }

        @include pad {
            line-height: 1.2;
            font-size: 12px;
        }

        @include rwd(600px) {
            font-size: 10px;
            width: 80%;
        }
    

        @include phone {
            font-size: 10px;
        }
    }
}


.bm_info {
    color: map-get($colors, white);

    & a {
        color: map-get($colors, white);
    }

    p {
        font-size: 14px;
        line-height: 1.5;
    }

    span {
        font-size: 14px;
    }

    @include rwd(600px) {
        margin-right: 0;
    }

    @include phone {
        display: none;
    }

    .bm_info_address {
        display: flex;

        p {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .bm_info_phone {
        display: flex;

        @include rwd(600px) {
            display: none;
        }

        p {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .bm_info_title {
        font-size: 18px;
        font-weight: bold;
    }
}

.footerRule {
    display: flex;
    text-align-last: left;
    margin-bottom: 4px;

    a {
        text-decoration: none;
        color: map-get($colors, white);
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 8px;
        margin-right: 20px;

        @include rwd(600px) {
            margin-right: 8px;
        }

        @include phone {
           font-size: 12px;
        }

        &:hover {
            color: map-get($colors, gold);
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.footerRule2 {
    display: none;

    @include rwd(600px) {
        display: block;
        text-align-last: left;
        margin: 12px 0;
    }

    a {
        text-decoration: none;
        color: map-get($colors, white);
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }

        @include rwd(376px) {
            margin-right: 8px;
        }

        &:hover {
            color: map-get($colors, underyellow);
        }
    }
}