.backstage_footer_one{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    img{
        width: 30%;
    }
}

.bm_text1{
  
    p{
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
    }

}