.top {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 70px;
    color: map-get($colors, white);

    @include rwd(700px) {
        position: relative;
    }
}

.top img {
    width: 100px;
    height: 70px;
    padding-left: 80px;
    display: block;

    @include rwd(700px) {
        // width: 70px;
        // height: 100px;
        width: 80%;
        padding: 0;
        // margin-left: 20px;
        margin-left: 10%;
    }

    @include phone {
        padding: 0;
        margin-left: 10%;
    }

}

.top .fa {
    margin-left: auto;
    display: none;

    @include rwd(700px) {
        text-align: center;
        display: block;
        margin-right: 10px;
        width: 90px;
        font-size: 25px;
    }
}

.top ul {
    margin-left: auto;
    padding-right: 40px;
    font-size: 20px;
    display: flex;

    @include rwd(700px) {
        display: none;
        flex-direction: column;
        position: absolute;
        // top: 100px;
        top: 70px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: map-get($colors, lightblue);
        font-size: 20px;
        // line-height: 100px;
        line-height: 60px;
        z-index: 5;
    }
}

.top li {
    display: block;
    margin-right: 20px;

    @include rwd(700px) {
        margin: 0;
    }

    &:hover {
        color: map-get($colors, gold);
    }
}

.top a {
    color: map-get($colors, white);
    // display: block;
    cursor: pointer;

    &:hover {
        color: map-get($colors, gold);
    }
}

#menuBar {
    display: none;
}

#menuBar.visible {
    display: block;
}

@media (min-width: 700px) {
    #menuBar {
        display: flex;
    }

    #menuBar.visible {
        display: flex;
    }
}

// -------------主題專區下拉式選單-----------------

ul#menuBar ul {
    // border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    right: 0px;
    top: 70px;
    min-width: 160px;
    text-align: center;

    @include rwd(430px) {
        top: 300px;
        right: 0px;

    }
}

ul#menuBar ul li {
    background-color: map-get($colors, grayblue);
    cursor: pointer;
    color: white;

    &:hover {
        background-color: map-get($colors, gold);
        color: map-get($colors, darkblue);
    }


    @include rwd(430px) {
        background-color: map-get($colors, lightblue);
    }
}

ul#menuBar ul li:last-child {
    border-bottom: none;
}


ul#menuBar ul li .dropDown {
    &:hover {
        color: map-get($colors, darkblue);
    }
}

ul#menuBar ul ul {
    /*第三層以後的選單出現位置與第二層不同*/
    z-index: 200;
    position: absolute;
    top: 0px;
    right: 140px;

    @include rwd(430px) {
        top: 121px;
        right: 0px;
    }
}

ul#menuBar ul {
    display: none;
}

ul#menuBar li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    display: block;
}

.themeArea{
    display: block;
    cursor: pointer;
}