.btn_joina{
    width: 50%;
    border-radius: 8px 0 0 0;
    background-color:map-get($colors , yellow);
}

.btn_join{
    width: 50%;
    border-radius:0 8px 0 0;
}

.mainJoin ul{
    padding: 2.5px;
}

.mainJoin li{
    input{
        outline: none;
        margin-bottom: 8px;
        width: 95%;
    }
}