.btn_joina {
    width: 50%;
    border-radius: 8px 0 0 0;
    background-color: map-get($colors , yellow);
}

.btn_join {
    width: 50%;
    border-radius: 0 8px 0 0;
}

.mainJoin ol {

    padding: 2px;
}

.mainJoin li {
    input {
        // outline: none;
        // margin-bottom: 8px;
        // width: 95%;
    }
}

.checkservers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .checkserver {
        width: 14px;
        height: 14px;
    }

    p {
        font-size: 13px;
    }

    a {
        color: map-get($colors , yellow);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            left: 0;
            background-color: map-get($colors , gold);
            transition: width 0.3s ease;
        }

        &:hover {

            color: map-get($colors , yellow);

            &::after {
                width: 100%;
                background: map-get($colors , yellow);
            }


        }
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }


}

.checkservers input[type="checkbox"] {
    appearance: none;
    margin-right: 8px;
    border: 2px solid map-get($colors , grayblue);
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.checkservers input[type="checkbox"]:checked {
    background-color: map-get($colors , midnight);
    background-color: map-get($colors , grayblue);
}

.checkservers input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border: solid map-get($colors , yellow);
    border-width: 0 2px 2px 0;
    display: none;
}

.checkservers input[type="checkbox"]:checked::before {
    display: block;
}


.join_now {
    padding: 20px 0;
    text-align: center;
    cursor: pointer;

    p {
        font-size: 13px;
    }

    span {
        display: inline-block;
        font-weight: 500;
        color: map-get($colors , gold);
        position: relative;


        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            left: 0;
            background-color: map-get($colors , gold);
            transition: width 0.3s ease;
        }


        &:hover {

            color: map-get($colors , yellow);

            &::after {
                width: 100%;
                background: map-get($colors , yellow);
            }


        }
    }
}