.btn_joina {
    width: 50%;
    border-radius: 8px 0 0 0;
    background-color: map-get($colors , yellow);
}

.btn_join {
    width: 50%;
    border-radius: 0 8px 0 0;
}

.mainJoin ol {

    padding: 2px;
}

.mainJoin li {
    input {
        // outline: none;
        // margin-bottom: 8px;
        // width: 95%;
    }
}

.checkservers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .checkserver {
        width: 14px;
        height: 14px;
    }

    p {
        font-size: 12px;
    }

    a {
        color: map-get($colors , yellow);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            left: 0;
            background-color: map-get($colors , gold);
            transition: width 0.3s ease;
        }

        &:hover {

            color: map-get($colors , yellow);
            &::after{
                width: 100%;
                background: map-get($colors , yellow);
            }


        }
    }


}

.join_now {
    padding: 20px 0;
    text-align: center;
    cursor: pointer;

    p {
        font-size: 12px;
    }

    span {
        display: inline-block;
        font-weight: 500;
        color: map-get($colors , gold);
        position: relative;
        

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            left: 0;
            background-color: map-get($colors , gold);
            transition: width 0.3s ease;
        }


        &:hover {

            color: map-get($colors , yellow);
            &::after{
                width: 100%;
                background: map-get($colors , yellow);
            }


        }
    }
}
