.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    line-height: 1;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.join_login{
    margin: 80px auto;
    max-width: 300px;
 
}

.btn_acc{
    width: 50%;
    border-radius: 8px 0 0 0;
}

.btn_accj{
    width: 50%;
    background-color:map-get($colors , yellow);
    border-radius:0 8px 0 0;
}

.mainLogin{
    position: relative;
    background-color:map-get($colors , lightyellow);
    border-radius:0 0 8px 8px;
      h3{
        text-align: center;
        font-weight: bold;
      }
   a{
    color: blue;
    &:hover {
        color: blue; /* 確保 hover 時不改變顏色 */
    }
   }
}

.mainLogin ol{
    margin:0 2.5%;
    padding: 5px;
    color: map-get($colors , black );
}

.mainLogin li{
    margin: 5px 5px 8px;
    display: flex;
    i{
        margin-top: 3px;
        margin-left: 3px;
        margin-right: 8px;
    }
    input{
        margin-bottom: 15px;
        outline: none;
        font-size: map-get($fontsize, h4 );
        width: 95%;
        border-radius: 8px;
        padding-left: 8px;
    }
    
    &:hover {
        color: inherit; /* 確保 hover 時不改變顏色 */
        background-color: transparent; /* 或者設置為無背景色 */
    }
}


#onlogin{
    width: 20px;
}

.btnlogin{
    @include btn(100%,true);
    border: 1px solid map-get($colors, black);
    font-size: 20px;
        
    
}

.checkforget{
    margin:0 5%;
    padding: 5px;
    color: map-get($colors , black );
    display: flex;
    justify-content: space-between;
}

.linef{
    // max-width: 700px;
    color: map-get($colors , black );
    display: flex;
    justify-content: center;
    margin: 0 5%;
    align-items: center;
}

.flinetext{
    margin: 0 3%;
}

.fline{
    content: '';
    display: block;
    border-bottom: 1px solid map-get($colors , black );
    width: 40%;
}

.outloginbtn{
    display: flex;
    justify-content: center;

    button{
        max-width: 50px;
        max-height: 50px;
        margin: 10px 20px 20px;
        border-radius: 200%;
        padding: 10px;
    }

    img{
        padding: 0;
        text-align: center;
        width:28px;
        height: 28px;
    }

    i{
        font: size 20px;
    }
}


.btnfb{
    background-color:map-get($colors, fbblue) ;
    color: map-get($colors, white);
}

.btngoogle{
    background-color:map-get($colors, white) ;
    color: map-get($colors, black);
}


.btnline{
    background-color:map-get($colors, linegreen) ;
    color: map-get($colors, white);
}