.theme_banner{
    max-width: 100%;
    margin-bottom: 80px;
}

.banner_video{
   width: 100%;
}

.banner {
    width: 100%;
}

.theme_container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    // width: 1200px;
    margin: 0 auto;
    // border: 1px solid white;
}

// -----主題文字介紹＋指數 start-----
.overview {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    margin-top: 80px;
    // border: 1px solid white;

    position: relative;
}

.blood {
    width: 226px;
    height: 360px;
    background-image: url('../img/blood-7.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -25%;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.overview_text {
    //寫大小
    width: 50%;
    text-align: justify;
}

.theme_number {
    width: 40%;

    &.hospital {
        color: map-get($colors, yellow);
    }

    &.alien {
        color: map-get($colors, lightgreen )
    }
}

.progress_bar {
    // width: 350px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    height: 30px;
    margin: 12px 0;

    &.hospital {
        background-color: map-get($colors, mdnightblue);
    }

    &.alien {
        background-color: map-get($colors, black);
    }
}

.progress {
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
    border-radius: 16px 0 0 16px;


    &.hospital {
        background-color: map-get($colors, darkred);
        color: map-get($colors, lightyellow);
    }

    &.alien {
        background-color: map-get($colors, green);
        color: map-get($colors, black);
    }
}

// -----主題文字介紹＋指數 end-----

// -----遊戲資訊 start-----

.gameinfo {
    // border: 1px solid white;
    display: flex;
    justify-content: center;
    gap: 22%;

}

.theme_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 80%;

    &.hospital {
        color: map-get($colors, yellow);
    }
}

i.fa-clock,
i.fa-circle-user {
    font-size: 100px;
}

i.fa-dollar-sign {
    font-size: 60px;
    line-height: 100px;
}

.dollar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;

    &.hospital {
        background-color: map-get($colors, yellow);
        color: map-get($colors, darkblue);
    }
}

.theme_game p {
    text-align: center;
    line-height: 1.6;

    // border: 1px solid white;
}

// -----遊戲資訊 end-----

// -----亮點icon start-----

.iconinfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme_icon img {
    width: 50%;
    // width: 220px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.theme_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    &.hospital {
        text-align: center;

        span {
            font-size: 20px;
        }

        p {
            // border: 1px solid white;
            font-size: 16px;
            color: map-get($colors, lightyellow);
        }
    }

}

// -----亮點icon end-----


// -----主題介紹 start-----

.theme_marketing_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme_marketing {
    overflow: hidden;
    width: 1140px;
    height: 400px;
    margin: 0 auto;
    width: 80%;

    margin-bottom: 30px;
    background-position: center;
    position: relative;

    &:nth-of-type(1) {
        background-image: url('../img/hospital-1.png');


        .theme_marketing_text {
            margin: 130px 0 0 70px;
        }
    }

    &:nth-of-type(2) {
        background-image: url('../img/hospital-2.png');

        .theme_marketing_text {
            text-align: right;
            margin: 130px 70px 0 0px;
        }
    }

    &:nth-of-type(3) {
        background-image: url('../img/hospital-3.png');

        .theme_marketing_text {
            margin: 130px 0 0 70px;
        }
    }

    &:nth-of-type(4) {
        background-image: url('../img/hospital-4.png');

        .theme_marketing_text {
            // border: 1px solid white;
            width: 80%;
            text-align: center;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// -----主題介紹 end-----

// -----注意事項 start-----

.small_mark {
    display: flex;
    align-items: center;
    gap: 16px;

    margin: 0 0 28px 9%;

    & h2 {
        color: map-get($colors, yellow);
    }
}

.notice_text {
    &.hospital {
        border-radius: 24px;
        background: #221F3C;
        padding: 20px;
        width: 80%;

        margin: 0 auto;
    }

    &.alien {
        border-radius: 24px;
        padding: 20px;
        width: 80%;

        margin: 0 auto;
    }
}

// -----注意事項 end-----

// -----該館遊戲 start-----
.theme_arrow {
    // border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    margin-bottom: 80px;


    .fa-angle-left,
    .fa-angle-right {
        cursor: pointer;
        font-size: 30px;
        color: map-get($colors, yellow);
    }

    .theme_wrapper {
        // border: 1px solid white;
        display: flex;
        overflow: hidden;
        width: 880px;
        scroll-behavior: smooth;

    }

    .theme_carousel {
        display: flex;
        position: relative;
        gap: 20px;

        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        transition: transform 0.5s ease-in-out;

        .theme_card {
            padding: 10px;
            width: 260px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: map-get($colors , mdnightblue);
                transition: .3s;
            }

            img {
                max-width: 250px;
            }

            h4 {
                margin-top: 10px;
                color: map-get($colors, yellow);
            }
        }
    }
}

// -----該館遊戲 end-----

//

@include rwd(980px) {

    .theme_arrow .theme_wrapper {
        width: 580px;
    }
}

@include rwd(750px) {

    .overview {
        flex-direction: column;
    }

    .overview_text,
    .theme_number {
        width: 80%;
    }

    .gameinfo,
    .iconinfo {
        flex-direction: column;
        gap: 60px;
    }
}

@include rwd(670px){
    .theme_arrow .theme_wrapper {
        width: 280px;
    }
}

@include rwd(500px){
    .theme_hospital {
    

        &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3) {
            .theme_marketing_text {
                // border: 1px solid white;
                margin: 150px auto;
                text-align: center;
            }
        }
    }
}

@include phone(){
    .theme_arrow{
        gap: 0;
    }
    .theme_arrow .theme_wrapper {
        width: 280px;
    }
}

@include rwd(345px){
    .theme_arrow{
        gap: 0;
    }
    .theme_arrow .theme_wrapper {
        width: 280px;
    }
}