.theme_container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 0 auto;

    &.dead{
        background-image: url('../img/dead.bgpng.png');
    }
}

// -----背景圖 start-----
.theme_banner {
    max-width: 100%;
}

.banner_video {
    width: 100%;
}

.banner_img {
    width: 100%;
}

// -----背景圖 end-----


// -----主題文字介紹＋指數 start-----
.overview {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    margin-top: 80px;
    // border: 1px solid white;
}

.blood_container {

    position: relative;

    img {
        width: 140px;
        position: absolute;
        // opacity: 0;
        transition: opacity 0.5s ease;
    }

    .blood_1 {
        width: 100px;
        top: 200px;
    }

    .blood_2 {
        right: 0%;
        top: 600px;
    }

    .blood_3 {
        width: 100px;
        top: 1300px;
    }

    .blood_4 {
        right: 0%;
        top: 1800px;
    }

    .blood_5 {
        top: 2300px;
    }

    .blood_6 {
        right: 0%;
        width: 130px;
        top: 3100px;
    }

    .blood_7 {
        top: 3600px;
    }
}

.blood_container img.show {
    opacity: 1;
}

.overview_text {
    font-size: 20px;
    width: 50%;
    text-align: justify;
}

.theme_number {
    width: 50%;

    span {
        // border: 1px solid salmon;
        display: block;
        font-size: 18px;
        margin: 20px 0;
    }

    &.hospital,
    &.dead,
    &.Lock {
        color: map-get($colors, yellow);
    }

    &.time {}

    &.alien {
        color: map-get($colors, lightgreen);
    }
}

.progress_bar {
    // width: 350px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    height: 30px;
    margin: 20px 0;

    &.hospital,
    &.time,
    &.dead,
    &.Lock,
    &.room
     {
        background-color: map-get($colors, midnight);
    }

    // {
    //     background-color: map-get($colors, midnight);
    // }

    &.alien {
        background-color: #D8FFDF;
    }
}

.progress {
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
    border-radius: 16px 0 0 16px;


    &.hospital {
        background-color: map-get($colors, darkred);
    }

    &.time {
        background-color: map-get($colors, underyellow);
        color: map-get($colors, black);
    }

    &.dead{
        background-color: map-get($colors, underred);
    }

    &.Lock{
        background-color: map-get($colors, usered);
    }

    &.room{
        background-color: #8DA18D;
    }

    &.alien {
        background-color: map-get($colors, green);
        color: map-get($colors, black);
    }
}

// -----主題文字介紹＋指數 end-----

// -----遊戲資訊 start-----

.gameinfo {
    // border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 80px;
    width: 80%;
}

.theme_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & i {
        font-size: 100px;
    }

    &.hospital {
        color: map-get($colors, yellow);
    }

    &.dead{
        color: #BF9773;
    }

    &.Lock{
        color: #ffa43d;
    }

    &.room{
        color: #8DA18D;
    }
    
    &.time {
        color: map-get($colors, underyellow);
    }

    &.alien{
        color: map-get($colors, green);
    }
}


.theme_game p {
    text-align: center;
    line-height: 1.6;
    white-space: pre-line;
}

// border: 1px solid white;


.game_price {
    cursor: pointer;
}

.theme_popup {
    background-color: map-get($colors , midnight);
    color: map-get($colors , white);
}

.theme_popup_title {
    font-size: 20px;
    color: map-get($colors , yellow);
}

#swal2-html-container {
    padding: 0;
}

// -----遊戲資訊 end-----

// -----亮點icon start-----

.iconinfo {
    // border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}


.theme_icon_img {
    // border: 1px solid white;
    width: 100%;

    img {
        max-width: 230px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}


.theme_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    white-space: pre-line;

    text-align: center;

    span {
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }
    
    &.hospital,
    &.Lock {
        p {
            color: map-get($colors, lightyellow);
        }
    }

    &.time,
    &.dead{
        p{
            color: map-get($colors, gray);
        }
    }

}

// -----亮點icon end-----


// -----主題介紹 start-----

.theme_marketing_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme_marketing {
    // border: 1px solid salmon;
    overflow: hidden;
    max-width: 1140px;
    height: 400px;
    margin: 0 auto;
    width: 80%;

    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    white-space: pre-line;


    &:nth-of-type(1) {
        .theme_marketing_text {
            margin: 130px 0 0 70px;
        }
    }

    &:nth-of-type(2) {
        .theme_marketing_text {
            text-align: right;
            margin: 130px 70px 0 0px;
        }
    }

    &:nth-of-type(3) {
        .theme_marketing_text {
            margin: 130px 0 0 70px;
        }
    }

    &:nth-of-type(4) {
        .theme_marketing_text {
            // border: 1px solid white;
            width: 80%;
            text-align: center;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// -----主題介紹 end-----

// -----注意事項 start-----

.small_mark {
    display: flex;
    align-items: center;
    gap: 16px;

    margin: 0 0 28px 9%;

    & h2 {
        color: map-get($colors, yellow);
    }
}

.notice_text {
    border-radius: 24px;
    padding: 20px;
    width: 80%;
    font-weight: 500;

    margin: 0 auto;
    background: center / cover no-repeat;
    color: map-get($colors , black );


    &.hospital{
        font-weight: 400;
        color: map-get($colors , white );
        background: #221F3C;
    }

    &.time {
        background-image: url('../img/noticebg_time.png');
    }

    &.dead{
        background-image: url('../img/noticebg_dead.png');
    }

    &.Lock{
        background: #FFE8BB;
    }

    &.room{
        color: map-get($colors , white );
        background-image: url('../img/noticebg_room.png');
    }

    &.alien{
        color: map-get($colors, lightgreen);
        background: #221F3C;
    }
}

// -----注意事項 end-----

// -----該館遊戲 start-----
.theme_arrow {
    // border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 20px;

    margin-bottom: 80px;


    i {
        cursor: pointer;
        font-size: 48px;
        color: map-get($colors, yellow);
        display: none;
    }

    .theme_wrapper {
        // border: 1px solid white;
        display: flex;
        overflow: hidden;
        width: 880px;
        scroll-behavior: smooth;

    }

    .theme_carousel {
        display: flex;
        position: relative;
        gap: 5px;

        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        transition: transform 0.5s ease-in-out;

        .theme_card {
            // outline: 1px solid rgb(252, 252, 252);

            padding: 16px 12px 12px 12px;
            width: 250px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: map-get($colors , midnight);
                transition: .3s;
            }

            img {
                max-width: 230px;
            }

            h4 {
                margin-top: 22px;
                color: map-get($colors, yellow);
            }
        }
    }
}

// -----該館遊戲 end-----

//

@include rwd(1000px) {

    .theme_arrow .theme_wrapper {
        // width: 580px;
    }

    .theme_icon_img {
        img {
            width: 200px;
        }
    }
}

@include rwd(900px) {
    .theme_arrow .theme_wrapper {
        width: 580px;
    }

    .theme_icon_img {
        img {
            width: 200px;
        }
    }

    .theme_arrow i {
        display: block;
    }
}

@include rwd(800px) {
    .theme_container {
        gap: 80px;
    }

    .overview {
        flex-direction: column;
        gap: 40px;
    }

    .overview_text {
        font-size: 18px;
        width: 80%;
        text-align: justify;
    }

    .theme_number {
        width: 80%;
    }

    .gameinfo,
    .iconinfo {
        flex-direction: column;
        gap: 60px;
    }
}

@include rwd(670px) {
    .theme_arrow .theme_wrapper {
        width: 280px;
    }

    .btn {
        width: 180px;
        font-size: 20px;
    }
}

@include rwd(500px) {
    .theme_container {
        gap: 40px;
    }

    .overview {
        gap: 20px;
        margin-top: 0px;
    }

    .overview_text {
        font-size: 16px;
    }

    .theme_number span {
        font-size: 16px;
    }

    .progress_bar {
        margin: 10px 0;
    }

    .gameinfo,
    .iconinfo {
        gap: 40px;
    }

    .theme_game {
        gap: 20px;

        h3 {
            font-size: 22px;
        }

        i {
            font-size: 80px;
        }
    }

    .theme_popup {
        width: 300px;
    }

    .iconinfo h3 {
        font-size: 22px;
    }

    .theme_icon_img img {
        max-width: 180px;
    }

    .theme_marketing_text {
        display: block;

        p {
            text-align: center;
            font-size: 16px;
        }

        h3 {
            text-align: center;
            font-size: 22px;
        }
    }

    .theme_marketing {

        &:nth-of-type(1) {

            .theme_marketing_text {
                margin: 40px auto;
            }
        }

        &:nth-of-type(2) {

            .theme_marketing_text {
                margin: 40px auto;
            }
        }

        &:nth-of-type(3) {

            .theme_marketing_text {
                margin: 40px auto;
            }
        }
    }

    .small_mark {
        margin: 0 0 20px 9%;

        svg {
            width: 30px;
            height: 30px;
        }

        h2 {
            font-size: 24px;
        }
    }

    .notice_text.hospital p {
        font-size: 15px;
    }


}

//430
@include phone() {

    .theme_game i {
        font-size: 70px;
    }

    .theme_icon_img img {
        max-width: 160px;
    }
}